<div class="row">
  <div class="col-md-3">
    <h1><%- theme_name %></h1>
    <div class="list-group list-unstyled">
      <a href="/<%- theme_name %>/" class="list-group-item">Home</a>
      <a href="/<%- theme_name %>/examples/index.html" class="list-group-item">Examples</a>
      <a href="/<%- theme_name %>/components/" class="list-group-item">Components</a>
      <a href="/<%- theme_name %>/incubation/" class="list-group-item">Incubation</a>
    </div>
  </div>
  <div class="col-md-9">
    <%- yield  %>
  </div>
</div>
