<div class="container standard-padding-full">
  <h5 class="red">Global Ecomm Pattern Library</h5>
  <h2 class="no-margin">The building blocks for your pages</h2>
  <p>We love our patterns and there are guidelines to using them so they can be as consistent and maintainable as possible. So here are the Dos and Don'ts of using our patterns</p>
  <p>For more information on how exactly to use our guidelines please see <a href="/derek/solutions/solutions-usage">Solutions Usage</a></p>
</div>

<!-- Lead -->
<div class="container">
  <h4>Lead</h4>
  <p>Limit to one paragraph</p>
  <div class="row">
    <div class="col-xs-12">
      <%- partial('../_partials/solutions/lead.ejs') %>
    </div>
  </div>
</div>

<%- partial('../layouts/leadCornerPocket.ejs') %>


<%- partial('../layouts/key-offers.ejs') %>
<%- partial('../layouts/valueProps.ejs') %>
<%- partial('../pattern-components/ias/ias.ejs') %>

<!-- Video -->
<div class="container">
  <h4>Video</h4>
  <div class="videoEmbed-row">
    <div class="videoEmbed-column">
      <%- partial('../_partials/solutions/video.ejs') %>
    </div>
  </div>
</div>

<%- partial('../layouts/quote-fullWidth.ejs') %>
<%- partial('../_partials/solutions/cta.ejs') %>
<%- partial('../layouts/quote-split.ejs') %>
<%- partial('../pattern-components/awards/awards.ejs') %>
<%- partial('../pattern-components/additional-resources/additional-resources.ejs') %>
<%- partial('../pattern-components/business-resources/business-resources.ejs') %>
<%- partial('../layouts/features.ejs') %>
<%- partial('../layouts/lists.ejs') %>
<%- partial('../pattern-components/announcements/announcements.ejs') %>
<%- partial('../pattern-components/blog-feed/blog-feed.ejs') %>
<%- partial('../layouts/tabs-horizontal.ejs') %>
<%- partial('../layouts/tabs-vertical.ejs') %>

<!-- External Link -->
<div class="container">
  <h4>External Link</h4>
  <div class="row">
    <div class="col-xs-12">
      <%- partial('../_partials/solutions/ext-link.ejs') %>
    </div>
  </div>
</div>

<!-- Text -->
<div class="container">
  <h4>Text</h4>
  <div class="row">
    <div class="col-xs-12">
      <%- partial('../_partials/solutions/text.ejs') %>
    </div>
  </div>
</div>
