<div class="row">
  <div class="col-md-12">
    <h4 class="red no-margin">Rackspace</h4>
    <h2 class="no-margin">Iconography</h2>
  </div>
</div>

<div class="row standard-padding-top">
  <div class="col-md-8">
    <p>
      Our icons help us to express the attributes of our brand, products, services, workloads, technology and  ideas  in ways that are immediately recognizable.
    </p>
    <p>
      We use icons as a graphical representation of a product, service, workload, technology or  idea. They should not stand alone. instead, they should be accompanied by a headline or body copy, and the corporate logo should appear somewhere on the same page or asset.
    </p>
  </div>
</div>

<hr/>

<div class="row standard-padding-top">
  <div class="col-md-8">
    <h5 class="red">Rules</h5>
    <ul>
      <li>icons are one color and used  in dark, medium and light gray.</li>
      <li>An icon should be used  in the context of an  idea, service offering, solution area or workload where possible (paired with solution area/workload names, part of an  ideogram, diagram or  illustration).</li>
      <li>Make sure that all icons used together have the same line weight.</li>
    </ul>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-md-12">
    <h5 class="red">Usage:</h5>
    <p>
      in order to use the Rackspace web font  in your markup you will need to put in <code>&#60;span class="rsweb name-of-icon">&#60;/span&#62;</code> replacing "name-of-icon" with the name that appears underneath the  icon you've chosen.
    </p>
    <p>
      To change the font color to white add the class "white" to your  icon class.
    </p>
    <h6>Example</h6>
    <code>&#60;span class="rsweb name-of-icon white"&#62;</code>
  </div>
</div>

<div class="row half-padding">
  <div class="col-md-6">
    <h4>Downloads</h4>
    <ul>
      <li>
        <a href="../assets/brand-icon.zip">Global Icon Font</a>
      </li>
      <li>
        <a href="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/font/icon/rsweb.ttf">Font Files</a>
      </li>
      <li>
        <a href="icons/icons.zip">Svg's</a>
      </li>
      <li>
        <a href="icons/iconpack.json">JSON file</a>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h5 class="red">Available icons: </h5>
    <% for (var i=0; i < icons.length; i++) { %>
      <% var icon = icons[i] %>
      <% if (icon.src !== 'fontawesome' && icon.selected || icon.src === 'fontawesome') { %>
        <% var classPrefix = '' %>
        <% if (icon.src === 'fontawesome') { %>
          <% classPrefix = 'fa-' %>
        <% } %>
        <div title="Code: <%= icon.code %>" class="iconDoc-wrapper">
          <span class="rsweb <%= classPrefix %><%= icon.css %>" style="font-size:32px;"></span>
          <p class="iconDoc-name">Class: <span class="blue-login"><%= icon.css %></span></p>
          <p class="iconDoc-code">Code: <span class="blue-login"><%= Number(icon.code).toString(16).slice(-4) %></span></p>
        </div>
      <% } %>
    <% } %>
  </div>
</div>
