<div class="contentOffset-landingPage">

  <%- partial("../../global-components/ceiling/ceilingLp") %>

  <%- partial("../../_partials/solutions/header-largeIMAC.ejs") %>

  <div class="container standard-padding-top">
    <%- partial("../../_partials/solutions/lead.ejs") %>
    <%- partial('../../layouts/valueProps.ejs') %>
  </div>

  <%- partial('../../layouts/quote-fullWidth.ejs') %>

  <%- partial("../../_partials/solutions/cta-bottom.ejs") %>

  <%- partial("../../_partials/solutions/footer.ejs") %>

</div>
