  <%- partial('../../layouts/leadFullWidth.ejs') %>

  <%- partial('../../layouts/valueProps.ejs') %>

  <%- partial('../../layouts/quote-fullWidth.ejs') %>

  <%- partial("../../_partials/solutions/cta-bottom.ejs") %>

  <%- partial("../../_partials/_footerLp") %>

</div>
