<%- partial('../../pattern-components/leads/lead-full-width/lead-full-width.ejs') %>

<div class="container">
  <div class="row row-eq-height half-padding-top">

    <!--Text Pattern-->
    <div class="col-sm-6">
      <h4>Interesting Headline</h4>
      <%- partial("../../pattern-components/text/text.ejs") %>
    </div>

    <!--CTA Pattern-->
    <div class="col-sm-6">
      <%- partial("../../pattern-components/ctas/cta-bottom.ejs") %>
      <p class="copyright">*Is using cta pattern but can be used with learning button style and small sized title</p>
    </div>
  </div>
</div>

<!--Features Pattern-->
<%- partial('../../pattern-components/product-features/product-features.ejs') %>

<!--CTA Pattern-->
<%- partial("../../pattern-components/ctas/cta-bottom.ejs") %>

<div class="half-padding">
<div class="container">
<div class="row row-eq-height">

<!--Text Pattern-->
  <div class="col-sm-6">
    <h2>Title of this section of text</h2>
    <%- partial("../../pattern-components/text/text.ejs") %>
    <a href="#" class="button learning">Download the whitepaper</a>
  </div>

  <!--Image Pattern-->
  <div class="col-sm-6">
    <img src="imgs/derek/resourceCenter/transforming-it-pdf-cover.jpg" class="center-block">
  </div>
</div>
</div>
</div>

<!-- Quadrant -->
<div class="quadrant" id="quadrant">
<div class="container">
<div class="quadrant-row">
  <div class="quadrant-textContainer">
    <h2 class="quadrant-title">Fanatical Support wherever you are, day or night, we have you covered 24x7x365</h2>
    <p class="quadrant-text">We're more than just a hosting provider - we're your trusted service partner, and we're ready to help solve the toughest problems. Gartner has recognized us as a leader in their <a href="[rsweb:about:cloud-enabled]">Magic Quadrant for Cloud Enabled Managed Hosting.</a></p>
      <div class="quadrant-buttonContainer">
        <a class="button learning" href="#">Learn More</a>
      </div>
  </div>
</div>
