<%- partial('../../pattern-components/leads/lead-full-width/lead-full-width.ejs') %>

  <div class="half-padding">
    <div class="col-sm-6 center-block">
      <%- partial("../../_partials/solutions/video.ejs") %>
    </div>
  </div>
</div>

<%- partial('../../pattern-components/product-features/product-features.ejs') %>

<%- partial("../../pattern-components/ctas/cta-bottom.ejs") %>

<div class="bg-light-gray half-padding">
  <div class="container">
    <div class="row row-eq-height">

    <!--Text Pattern-->
      <div class="col-sm-6">
        <h2>Title of this section of text</h2>
        <%- partial("../../pattern-components/text/text.ejs") %>
        <a href="#" class="button learning">Download the whitepaper</a>
      </div>

      <!--Image Pattern-->
      <div class="col-sm-6">
        <img src="imgs/derek/resourceCenter/transforming-it-pdf-cover.jpg" class="center-block">
      </div>
    </div>
  </div>
</div>

<div class="half-padding">
  <div class="container">
    <h2 class="text-center">Related Resources</h2>
    <div class="row row-eq-height">
      <%- partial("./_partials/resource-river-card.ejs", { count: 1 }) %>
    </div>
  </div>
</div>

<div class="half-padding">
  <div class="container">
    <h2 class="text-center">Related Resources</h2>
    <div class="row row-eq-height">
      <%- partial("./_partials/resource-river-card.ejs", { count: 2 }) %>
    </div>
  </div>
</div>

<div class="half-padding">
  <div class="container">
    <h2 class="text-center">Related Resources</h2>
    <div class="row row-eq-height">
      <%- partial("./_partials/resource-river-card.ejs", { count: 3 }) %>
    </div>
  </div>
</div>

<!-- Quadrant -->
<div class="quadrant" id="quadrant">
  <div class="container">
    <div class="quadrant-row">
      <div class="quadrant-textContainer">
        <h2 class="quadrant-title">Fanatical Support wherever you are, day or night, we have you covered 24x7x365</h2>
        <p class="quadrant-text">We're more than just a hosting provider - we're your trusted service partner, and we're ready to help solve the toughest problems. Gartner has recognized us as a leader in their <a href="[rsweb:about:cloud-enabled]">Magic Quadrant for Cloud Enabled Managed Hosting.</a></p>
          <div class="quadrant-buttonContainer">
            <a class="button learning" href="#">Learn More</a>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="half-padding">
  <div class="container">
    <%- partial("./_partials/landingpage-legal.ejs") %>
  </div>
</div>
