<div class="contentOffset-landingPage">

  <%- partial("../../_partials/_ceilingLp") %>

  <%- partial("../../_partials/solutions/header-mediumIMAC.ejs") %>

  <div class="container standard-padding-top">
    <div class="row flex-row">
      <div class="col-md-6 flex-all">
        <%- partial("../../_partials/solutions/lead.ejs") %>
      </div>
      <div class="col-md-6 flex-all">
        <%- partial("../../_partials/solutions/video.ejs") %>
      </div>
    </div>
    <%- partial('../layouts/valueProps.ejs') %>
  </div>

  <%- partial("../../_partials/solutions/testimonials.ejs") %>

  <%- partial("../../_partials/solutions/cta-bottom.ejs") %>

  <%- partial("../../_partials/solutions/footer.ejs") %>

</div>
