<div class="contentOffset-landingPage">

  <%- partial("../../global-components/ceiling/ceilingLp") %>

  <%- partial("../../_partials/solutions/header-mediumIMAC.ejs") %>

  <div class="container standard-padding-top">
    <div class="row flex-row">
      <div class="col-md-6 flex-all">
        <div class="subpanel">
          <div class="subpanel-inner">
            <%- partial("../../_partials/solutions/lead.ejs") %>
          </div>
        </div>
      </div>
      <div class="col-md-6 flex-all">
        <div class="subpanel">
          <div class="subpanel-inner">
            <%- partial("../../_partials/solutions/video.ejs") %>
          </div>
        </div>
      </div>
    </div>
    <%- partial('../../layouts/valueProps.ejs') %>
  </div>

  <%- partial('../../layouts/quote-fullWidth.ejs') %>

  <%- partial("../../_partials/solutions/cta-bottom.ejs") %>

  <%- partial("../../_partials/solutions/footer.ejs") %>

</div>
