<%
var checkbox = [
  { name: 'Webinar' },
  { name: 'PDF' },
  { name: 'Code' },
  { name: 'Video' },
  { name: 'Datasheet' },
  { name: 'Support' },
  { name: 'eBook' },
  { name: 'Whitepaper' }
]
%>
<% checkbox.forEach(function(checkbox) { %>
  <div class="rsFilter-formCheckItem">
    <input type="checkbox" id="<%- checkbox.name %>" name="<%- checkbox.name %>" value="<%- checkbox.name %>">
    <label for="<%- checkbox.name %>"><%- checkbox.name %></label>
  </div>
<% }); %>
