<div class="resourcecenter-background half-padding-full">
  <div class="container">
    <div class="resourcecenter-fullWrapper resourcecenter-<%- type -%>">
      <div class="col-md-4 col-sm-6 <%- (type == 'video') ? 'col-xs-12' : 'hidden-xs panel-flex' %> text-right">
        <div class="resourcecenter-visualWrapper">
        <% if(type == 'video') { %>
          <%- partial('../../../pattern-components/video/video.ejs') %>
        <% } %>
        <% if(typeof image != 'undefined') { %>
          <div class="resourcecenter-imageWrapper" >
            <img class="resourcecenter-image" src="<%-image%>"/>
          </div>
        <% } %>
        </div>
      </div>
      <div class="col-md-8 col-sm-6 col-xs-12">
        <div class="resourcecenter-infoWrapper">
          <div class="resourcecenter-titleFull"><h1><%- title %></h1></div>
          <div class="resourcecenter-descFull"><p><%- desc %></p></div>
          <div class="resourcecenter-downloadFull">
          <% if(type != 'video') { %>
            <a href="javascript:void(0)" class="resourcecenter-button track-click"><%- button %></a>
          <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="resourcecenter-<%- type -%> resourcecenter-dividerWrapper">
  <div class="resourcecenter-divider rsweb container"></div>
</div>

<div class="container">
  <div class="resourcecenter-relatedWrapper">
      <h2>Related Resources</h2>
    </div>
</div>

