<%- partial("../_partials/_ceiling") %>
<%- partial("../_partials/_mainnav") %>

<%- partial("../_partials/solutions/header-large.ejs") %>

<%- partial("../_partials/solutions/lead.ejs") %>

<p class="semi-bold red center half-padding-top">Key Offers and infrastructure and services are interchangable or both can be kept if needed.</p>

<%- partial("../_partials/solutions/services-3-col.ejs") %>

<%- partial("../_partials/solutions/key-offers.ejs") %>

<div class="container standard-padding-full">
  <div class="row">
    <div class="col-md-12">
      <p>OPTIONAL: Available Space for mini panel layout or text area. Can include: video, text, features or ideogram within 50/50 grid. Should not require any custom markup. Should be informative and differintiating for your product or campaign.</p>
    </div>
  </div>
</div>
<hr>
<%- partial("../_partials/solutions/cta.ejs") %>

