<!--Header Medium-->
<div class="container-fluid banner medium outlook">
  <div class="row">
    <div class="col-sm-6 center-block">
      <div class="banner-text">
        <h1 class="center white">Pick Your Plan</h1>
        <p class="center white">Bacon ipsum dolor amet minim tri-tip pork chop fatback pork loin, salami shoulder pastrami cow id tongue aliquip nostrud. Nisi in magna, flank picanha eiusmod lorem jowl swine frankfurter do.</p>
      </div>
    </div>
  </div>
</div>

<div class="container standard-padding">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <a class="button lead">Get a Free Consultation</a>
    </div>
    <div class="col-md-4 col-sm-6">
      <a class="button learning">Learn More</a>
    </div>
    <div class="col-md-4 col-sm-6">
      <a class="button leaving">Customer Stories</a>
    </div>
  </div>
</div>

<!--Header Large-->
<div class="container-fluid banner large outlook">
  <div class="row">
    <div class="col-sm-5 center-block">
      <div class="banner-text">
        <h1 class="center white">Fanatical Support for Office 365</h1>
        <p class="center white">All the power of Office 365. None of the frustration and management. We help you get the most out of Office 365.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 center-block center">
      <a class="button learning">Choose A Plan</a>
    </div>
  </div>
</div>

<nav class="navbar subnav">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="col-xs-2">
        <button type="button" data-toggle="collapse" data-target="#subnav" aria-expanded="false" aria-controls="subnav" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      </div>
      <div class="col-xs-10">
        <!-- Needs to have the title of the page youre on -->
      </div>
    </div>
    <div id="subnav" class="collapse navbar-collapse">
      <ul class="nav navbar-nav subnav-inside">
        <li><a href="/dedicated-servers">Dedicated Overview</a></li>
        <li><a href="/dedicated-servers/hosting">Dedicated Servers</a></li>
        <li><a href="/dedicated-servers/vmware">VMware</a></li>
        <li><a href="/dedicated-servers/database-services">Managed Databases</a></li>
        <li><a href="/dedicated-servers/data-storage">Dedicated Storage</a></li>
        <li class="no-hover">
          <a class="button lead">Chat Now</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Lead pattern -->
<div class="row">
  <div class="col-xs-2 center-block center">
    <img src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/home/v8/icons/icon_data_services.gif" alt="Data services">
  </div>
</div>
<div class="row">
  <div class="col-md-8 center-block">
    <h2 class="center">Title goes here</h2>
    <p class="center">Bacon ipsum dolor amet minim tri-tip pork chop fatback pork loin, salami shoulder pastrami cow id tongue aliquip nostrud. Nisi in magna, flank picanha eiusmod lorem jowl swine frankfurter do. T-bone meatloaf chuck prosciutto biltong. Eu jowl pariatur id, ut pork belly aliquip ipsum shoulder swine est. In dolor qui pastrami, proident velit laborum prosciutto shoulder. Cow in cillum, dolor kielbasa ut occaecat aute irure.</p>
    <p class="center">This is a paragraph with a <a>hyperlink within it's text</a> so that you can see what links in text look like.</p>
  </div>
</div>

<!-- Value Prop section-->
<div class="container">
  <div class="row row-eq-height">
    <!-- Options for value prop with img -->
    <div class="col-md-4 col-sm-6">
      <%- partial("../_partials/grid/widget/value-prop", {desc: "250 max character count here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. 250 max character count here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo."}) %>
    </div>
    <div class="col-md-4 col-sm-6">
      <%- partial("../_partials/grid/widget/value-prop") %>
    </div>
    <div class="col-md-4 col-sm-6">
      <%- partial("../_partials/grid/widget/value-prop") %>
    </div>
  </div>
  <div class="row row-eq-height">
    <div class="col-md-4 col-sm-6">
      <%- partial("../_partials/grid/widget/value-prop") %>
    </div>
    <div class="col-md-4 col-sm-6">
      <%- partial("../_partials/grid/widget/value-prop") %>
    </div>
    <div class="col-md-4 col-sm-6">
      <%- partial("../_partials/grid/widget/value-prop") %>
    </div>
  </div>
</div>

<!-- CTA -->
<div class="container">
  <div class="row">
    <div class="col-xs-1 center-block">
      <i class="rsweb gen-assistance"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 center-block">
      <h2 class="center">ANY QUESTIONS? </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 center-block">
      <p class="center">We’re here to help you find the best solution for you and your business. Get a free consultation from one of our experts.</p>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 center-block">
        <a class="button lead">Get a Free Consultation</a>
      </div>
    </div>
  </div>
</div>

<!-- Key Offers -->
<div class="container-fluid bg-light-gray">
  <div class="container standard-padding">
    <div class="row">
      <div class="col-md-12">
        <h2 class="center">This a offers headline with a max of 50 characters</h2>
      </div>
    </div>
    <div class="row row-eq-height">
      <div class="col-md-4 col-sm-6 offerBox clickarea">
        <%- partial("../_partials/grid/widget/key-offer", {desc: "150 max character count here. Pro gravida dolor sit amet lacus accumsan at viverra justo commodo. 150 max character count here. Pro gravida dolor sit amet lacus accumsan at viverra justo commodo."}) %>
      </div>
      <div class="col-md-4 col-sm-6 offerBox clickarea">
        <%- partial("../_partials/grid/widget/key-offer") %>
      </div>
      <div class="col-md-4 col-sm-6 offerBox clickarea">
        <%- partial("../_partials/grid/widget/key-offer") %>
      </div>
    </div>
    <div class="row half-padding-top row-eq-height">
      <div class="col-md-4 col-sm-6 offerBox clickarea">
        <%- partial("../_partials/grid/widget/key-offer") %>
      </div>
      <div class="col-md-4 col-sm-6 offerBox clickarea">
        <%- partial("../_partials/grid/widget/key-offer") %>
      </div>
      <div class="col-md-4 col-sm-6 offerBox clickarea">
        <%- partial("../_partials/grid/widget/key-offer") %>
      </div>
    </div>
  </div>
</div>

<!-- Rivers -->

<div class="container-fluid bg-light-gray river-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="center pattern-header">Light Gray</h3>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-crumpled-paper river-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="center pattern-header">Crumpled Paper</h3>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-dark-gray river-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="center pattern-header">Dark Gray</h3>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-red river-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="center pattern-header">Red</h3>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-steel-blue river-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="center pattern-header">Steel Blue</h3>
      </div>
    </div>
  </div>
</div>

<!-- Expertise pattern -->

<div class="container-fluid expertise-container" style="background-image: url('http://broadcast.rackspace.com/r/sites/test/text/images/expertise-bg.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>We power over 30,000</p>
        <p>mission-critical database servers</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-blue-gray">
  <div class="container">
    <div class="row customer_stories_logos standard-padding">
      <div class="col-md-4 col-sm-6">
        <p class="white">Max 40 characters customer story headline</p>
      </div>
      <div class="col-md-2 ">
        <img src="http://broadcast.rackspace.com/r/sites/test/text/images/logo1.png" alt="">
      </div>
      <div class="col-md-1">
        <img src="http://broadcast.rackspace.com/r/sites/test/text/images/logo2.png" alt="">
      </div>
      <div class="col-md-2">
        <img src="http://broadcast.rackspace.com/r/sites/test/text/images/logo1.png" alt="">
      </div>
      <div class="col-md-2">
        <img src="http://broadcast.rackspace.com/r/sites/test/text/images/logo3.png" alt="">
      </div>
    </div>
  </div>
</div>

<!-- Infrastructure and Services section (repeated infserve pattern) -->
<!-- 3 column -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="center">3 columns</h2>
    </div>
  </div>
  <div class="row row-eq-height">
    <div class="col-sm-4 clickarea">
      <%- partial("../_partials/grid/widget/ias", {desc: "This description cannot be longer than 75 characters including all spaces. This description cannot be longer than 75 characters including all spaces."}) %>
    </div>
    <div class="col-sm-4 clickarea">
      <%- partial("../_partials/grid/widget/ias") %>
    </div>
    <div class="col-sm-4 clickarea">
      <%- partial("../_partials/grid/widget/ias") %>
    </div>
  </div>
</div>

<!-- 4 column -->
<div class="container infrastructure-and-services-container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="center">4 columns</h2>
    </div>
  </div>
  <div class="row row-eq-height">
    <div class="col-sm-6 clickarea">
      <%- partial("../_partials/grid/widget/ias") %>
    </div>
    <div class="col-sm-6 clickarea">
      <%- partial("../_partials/grid/widget/ias") %>
    </div>
  </div>
  <div class="row row-eq-height">
    <div class="col-sm-6 clickarea">
      <%- partial("../_partials/grid/widget/ias") %>
    </div>
    <div class="col-sm-6 clickarea">
      <%- partial("../_partials/grid/widget/ias") %>
    </div>
  </div>
</div>

<!-- 5 column -->
<div class="container infrastructure-and-services-container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="center">5 columns</h2>
    </div>
  </div>
  <div class="row row-eq-height">
    <div class="col-md-4 col-sm-6 clickarea">
      <%- partial("../_partials/grid/widget/ias") %>
    </div>
    <div class="col-md-4 col-sm-6 clickarea">
      <%- partial("../_partials/grid/widget/ias") %>
    </div>
    <div class="col-md-4 col-sm-6 clickarea">
      <%- partial("../_partials/grid/widget/ias") %>
    </div>
  </div>
  <div class="row row-eq-height">
    <div class="col-md-4 col-sm-6 col-md-push-2 clickarea">
      <%- partial("../_partials/grid/widget/ias") %>
    </div>
    <div class="col-md-4 col-sm-6 col-md-push-2 clickarea">
      <%- partial("../_partials/grid/widget/ias") %>
    </div>
  </div>
</div>

<!-- 6 column -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="center">6 columns</h2>
    </div>
  </div>
  <div class="row row-eq-height">
    <div class="col-sm-4 clickarea">
      <%- partial("../_partials/grid/widget/ias", {desc: "This description cannot be longer than 75 characters including all spaces. This description cannot be longer than 75 characters including all spaces."}) %>
    </div>
    <div class="col-sm-4 clickarea">
      <%- partial("../_partials/grid/widget/ias") %>
    </div>
    <div class="col-sm-4 clickarea">
      <%- partial("../_partials/grid/widget/ias") %>
    </div>
  </div>
  <div class="row row-eq-height">
    <div class="col-sm-4 clickarea">
      <%- partial("../_partials/grid/widget/ias") %>
    </div>
    <div class="col-sm-4 clickarea">
      <%- partial("../_partials/grid/widget/ias") %>
    </div>
    <div class="col-sm-4 clickarea">
      <%- partial("../_partials/grid/widget/ias") %>
    </div>
  </div>
</div>

<!-- Testimonials -->
<div class="container-fluid bg-blue-gray standard-padding">
  <div class="container">
    <div id="quote">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-2 col-xs-2 center-block quote-icon">
              <img src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/icons/quote-teal.png" alt="">
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 center-block">
              <blockquote class="center white">Because of Fanatical Support, we knew we were partnering with a best-in-class company that shared our vision of getting it done.</blockquote>
              <cite class="center">Brian McManus, Senior Director of Technology - Under Armour</cite>
            </div>
          </div>
          <!--Option for logo-->
          <div class="row red semi-bold">
            <div class="col-md-2 col-xs-2 center-block">
              <img src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/logos/underarmor.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/duqBHik7nRo"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- CTA -->
<div class="container standard-padding">
  <div class="row">
    <div class="col-xs-1 center-block">
      <i class="rsweb gen-assistance"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 center-block">
      <h2 class="center">Talk to a Rackspace Specialist</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-6 center-block">
      <a class="button lead">Chat Now</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 center-block">
      <h4 class="center">Call 1-855-715-7307</h4>
    </div>
  </div>
</div>

<!-- Testimonials -->
<div class="container-fluid bg-blue-gray standard-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="center white">TRUSTED BY THE BRANDS YOU KNOW</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1 col-xs-3 center-block quote-icon">
        <img src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/icons/quote-teal.png" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 center-block">
        <blockquote class="center white">Because of Fanatical Support, we knew we were partnering with a best-in-class company that shared our vision of getting it done.</blockquote>
        <cite class="center">Brian McManus, Senior Director of Technology - Under Armour</cite>
      </div>
    </div>
    <!--Option for logo-->
    <div class="row red semi-bold">
      <div class="col-md-1 col-xs-3 center-block">
        <img src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/logos/underarmor.png" alt="">
      </div>
    </div>
  </div>
</div>

<!-- Additional Resources -->
<div class="container-fluid catfish">
  <div class="container additional-resources-container">
    <div class="row">
      <div class="col-md-12">
        <h2>Resources</h2>
      </div>
    </div>

    <!-- 2 column layout -->
    <div class="row">
      <div class="col-md-12">
        <h3>Two Column</h3>
      </div>
    </div>
    <div class="row row-eq-height">
      <div class="col-md-6 additional-resource">
        <%- partial("../_partials/grid/widget/additional-resource", {type: "pdf"}) %>
      </div>
      <div class="col-md-6 additional-resource">
        <%- partial("../_partials/grid/widget/additional-resource", {type: "support"}) %>
      </div>
    </div>

    <!-- 3 column -->
    <div class="row">
      <div class="col-md-12">
        <h3>Three Column</h3>
      </div>
    </div>
    <div class="row row-eq-height">
      <div class="col-md-4 col-sm-6 additional-resource">
        <%- partial("../_partials/grid/widget/additional-resource", {type: "video"}) %>
      </div>
      <div class="col-md-4 col-sm-6 additional-resource">
        <%- partial("../_partials/grid/widget/additional-resource", {type: "rss"}) %>
      </div>
      <div class="col-md-4 col-sm-6 additional-resource">
        <%- partial("../_partials/grid/widget/additional-resource", {type: "news"}) %>
      </div>
    </div>

    <!-- 4 column layout -->
    <div class="row">
      <div class="col-md-12">
        <h3>Four Column</h3>
      </div>
    </div>
    <div class="row row-eq-height">
      <div class="col-md-6 additional-resource">
        <%- partial("../_partials/grid/widget/additional-resource", {type: "pdf"}) %>
      </div>
      <div class="col-md-6 additional-resource">
        <%- partial("../_partials/grid/widget/additional-resource", {type: "support"}) %>
      </div>
    </div>
    <div class="row row-eq-height">
      <div class="col-md-6 additional-resource">
        <%- partial("../_partials/grid/widget/additional-resource", {type: "pdf"}) %>
      </div>
      <div class="col-md-6 additional-resource">
        <%- partial("../_partials/grid/widget/additional-resource", {type: "support"}) %>
      </div>
    </div>

    <!-- 5 column layout -->
    <div class="row">
      <div class="col-md-12">
        <h3>Five Column</h3>
      </div>
    </div>
    <div class="row row-eq-height">
      <div class="col-md-4 col-sm-6 additional-resource">
        <%- partial("../_partials/grid/widget/additional-resource", {type: "support"}) %>
      </div>
      <div class="col-md-4 col-sm-6 additional-resource">
        <%- partial("../_partials/grid/widget/additional-resource", {type: "rss"}) %>
      </div>
      <div class="col-md-4 col-sm-6 additional-resource">
        <%- partial("../_partials/grid/widget/additional-resource", {type: "news"}) %>
      </div>
    </div>
    <div class="row row-eq-height">
      <div class="col-md-4 col-md-push-2 additional-resource">
        <%- partial("../_partials/grid/widget/additional-resource", {type: "pdf"}) %>
      </div>
      <div class="col-md-4 col-md-push-2 additional-resource">
        <%- partial("../_partials/grid/widget/additional-resource", {type: "support"}) %>
      </div>
    </div>


    <!-- 6 column layout -->
    <div class="row">
      <div class="col-md-12">
        <h3>Six Column</h3>
      </div>
    </div>
    <div class="row row-eq-height">
      <div class="col-md-4 col-sm-6 additional-resource">
        <%- partial("../_partials/grid/widget/additional-resource", {type: "video"}) %>
      </div>
      <div class="col-md-4 col-sm-6 additional-resource">
        <%- partial("../_partials/grid/widget/additional-resource", {type: "rss"}) %>
      </div>
      <div class="col-md-4 col-sm-6 additional-resource">
        <%- partial("../_partials/grid/widget/additional-resource", {type: "rss"}) %>
      </div>
    </div>
    <div class="row row-eq-height">
      <div class="col-md-4 col-sm-6 additional-resource">
        <%- partial("../_partials/grid/widget/additional-resource", {type: "case-study"}) %>
      </div>
      <div class="col-md-4 col-sm-6 additional-resource">
        <%- partial("../_partials/grid/widget/additional-resource", {type: "github"}) %>
      </div>
      <div class="col-md-4 col-sm-6 additional-resource">
        <%- partial("../_partials/grid/widget/additional-resource", {type: "api"}) %>
      </div>
    </div>
  </div>
</div>


<!-- Business Resources -->
<div class="container-fluid bg-light-gray standard-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="center">Example of the resources grid content type.</h2>
      </div>
    </div>
    <h3>Two-up</h3>
    <div class="row row-eq-height">
      <div class="col-md-6 resource">
        <%- partial("../_partials/grid/widget/business-resource", {desc: "This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource."}) %>
      </div>
      <div class="col-md-6 resource">
        <%- partial("../_partials/grid/widget/business-resource") %>
      </div>
    </div>
    <h3>Three-up</h3>
    <div class="row row-eq-height">
      <div class="col-md-4 resource">
        <%- partial("../_partials/grid/widget/business-resource", {desc: "This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource."}) %>
      </div>
      <div class="col-md-4 resource">
        <%- partial("../_partials/grid/widget/business-resource") %>
      </div>
      <div class="col-md-4 resource">
        <%- partial("../_partials/grid/widget/business-resource") %>
      </div>
    </div>
    <h3>Four-up</h3>
    <div class="row row-eq-height">
      <div class="col-md-6 resource">
        <%- partial("../_partials/grid/widget/business-resource", {desc: "This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource."}) %>
      </div>
      <div class="col-md-6 resource">
        <%- partial("../_partials/grid/widget/business-resource") %>
      </div>
    </div>
    <div class="row row-eq-height">
      <div class="col-md-6 resource">
        <%- partial("../_partials/grid/widget/business-resource", {desc: "This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource."}) %>
      </div>
      <div class="col-md-6 resource">
        <%- partial("../_partials/grid/widget/business-resource") %>
      </div>
    </div>
  </div>
</div>

<div class="bg-light-gray standard-padding-full">
  <div class="row">
    <ul id="myTab" class="nav nav-tabs">
      <li class="active">
        <a href="#one" data-toggle="tab">
          <h2>Tab Content One</h2>
        </a>
      </li>
      <li>
        <a href="#two" data-toggle="tab">
          <h2>Tab Content Two</h2>
        </a>
      </li>
    </ul>
  </div>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="one">
      <div class="container">
        <p>Example of tabbed content #1</p>
      </div>
    </div>
    <div class="tab-pane fade" id="two">
      <div class="container">
        <p>Example of tabbed content #2</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid standard-padding"></div>

<div class="container-fluid standard-padding bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-8 center-block">
        <h2 class="center teal">Features title</h2>
      </div>
    </div>
    <!-- Two Columns -->
    <div class="row">
      <div class="col-md-12">
        <h2 class="center">Two Columns</h2>
      </div>
    </div>
    <div class="row row-eq-height half-padding-top">
      <div class="col-md-6 features">
        <%- partial("../_partials/grid/widget/product-feature", {desc: "This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource."}) %>
      </div>
      <div class="col-md-6 features">
        <%- partial("../_partials/grid/widget/product-feature") %>
      </div>
    </div>

    <!-- Three Columns -->
    <div class="row">
      <div class="col-md-12">
        <h2 class="center">Three Columns</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 features three-up half-padding-top">
        <%- partial("../_partials/grid/widget/product-feature") %>
      </div>
      <div class="col-md-12 features three-up half-padding-top">
        <%- partial("../_partials/grid/widget/product-feature") %>
      </div>
      <div class="col-md-12 features three-up half-padding-top">
        <%- partial("../_partials/grid/widget/product-feature") %>
      </div>
    </div>

    <!-- Four Columns -->
    <div class="row">
      <div class="col-md-12">
        <h2 class="center">Four Columns</h2>
      </div>
    </div>
    <div class="row row-eq-height half-padding-top">
      <div class="col-md-6 features">
        <%- partial("../_partials/grid/widget/product-feature") %>
      </div>
      <div class="col-md-6 features">
        <%- partial("../_partials/grid/widget/product-feature") %>
      </div>
    </div>
    <div class="row row-eq-height half-padding-top">
      <div class="col-md-6 features">
        <%- partial("../_partials/grid/widget/product-feature") %>
      </div>
      <div class="col-md-6 features">
        <%- partial("../_partials/grid/widget/product-feature") %>
      </div>
    </div>

    <!--Five Columns -->
    <div class="row">
      <div class="col-md-12">
        <h2 class="center">Five Columns</h2>
      </div>
    </div>
    <div class="row row-eq-height half-padding-top">
      <div class="col-md-6 features">
        <%- partial("../_partials/grid/widget/product-feature") %>
      </div>
      <div class="col-md-6 features">
        <%- partial("../_partials/grid/widget/product-feature") %>
      </div>
    </div>
    <div class="row row-eq-height half-padding-top">
      <div class="col-md-6 features">
        <%- partial("../_partials/grid/widget/product-feature") %>
      </div>
      <div class="col-md-6 features">
        <%- partial("../_partials/grid/widget/product-feature") %>
      </div>
    </div>
    <div class="row row-eq-height half-padding-top">
      <div class="col-md-6 center-block features">
        <%- partial("../_partials/grid/widget/product-feature") %>
      </div>
    </div>

    <!-- Six Columns -->
    <div class="row">
      <div class="col-md-12">
        <h2 class="center">Six Columns</h2>
      </div>
    </div>
    <div class="row row-eq-height half-padding-top">
      <div class="col-md-6 features">
        <%- partial("../_partials/grid/widget/product-feature") %>
      </div>
      <div class="col-md-6 features">
        <%- partial("../_partials/grid/widget/product-feature") %>
      </div>
    </div>
    <div class="row row-eq-height half-padding-top">
      <div class="col-md-6 features">
        <%- partial("../_partials/grid/widget/product-feature") %>
      </div>
      <div class="col-md-6 features">
        <%- partial("../_partials/grid/widget/product-feature") %>
      </div>
    </div>
    <div class="row row-eq-height half-padding-top">
      <div class="col-md-6 features">
        <%- partial("../_partials/grid/widget/product-feature") %>
      </div>
      <div class="col-md-6 features">
        <%- partial("../_partials/grid/widget/product-feature") %>
      </div>
    </div>
  </div>
</div>


<div class="container standard-padding list-grid">
    <div class="row">
      <div class="col-md-12">
        <h2 class="center">List Style Type</h2>
      </div>
    </div>
    <div class="row half-padding-top">
      <div class="col-md-8 center-block">
        <h2 class="center">Additional Features</h2>
        <p class="center">Example text about product feature number one in a list of four available product features.</p>
      </div>
    </div>
    <div class="row half-padding-top">
      <div class="col-md-4">
        <%- partial("../_partials/grid/widget/list") %>
      </div>
      <div class="col-md-4">
        <%- partial("../_partials/grid/widget/list", {list_classes: "checks green"}) %>
      </div>
      <div class="col-md-4">
        <%- partial("../_partials/grid/widget/list", {items: ["Live, US-based support team", "Remotely log in and troubleshoot Virtual Machines, OS and Apps", "Dedicated account team", "15-Minute Response Time SLA to monitoring notifications", "Live, US-based support team", "Live, US-based support team"]}) %>
      </div>
    </div>
    <div class="row half-padding-top">
      <div class="col-md-4">
        <%- partial("../_partials/grid/widget/list") %>
      </div>
      <div class="col-md-4">
        <%- partial("../_partials/grid/widget/list") %>
      </div>
      <div class="col-md-4">
        <%- partial("../_partials/grid/widget/list") %>
      </div>
    </div>
</div>


<div class="container-fluid rug-to-top hidden-md hidden-lg">
  <div class="row">
    <div class="col-xs-12 col-sm-6 center-block">
      <a href="#" class="back-to-top center">Back to Top<i class="fa fa-arrow-circle-up"></i></a>
    </div>
  </div>
</div>
<span id="top-link-desktop" class="hidden-xs hidden-sm">
  <a href="#" class="back-to-top" style="display:inline;">
      <i class="fa fa-arrow-circle-up"></i>
  </a>
</span>
