<div class="container standard-padding-full">
  <h5 class="red">Global Ecomm Pattern Library</h5>
  <h2 class="no-margin">The building blocks for your pages</h2>
  <p>We love our patterns and there are guidelines to using them so they can be as consistent and maintainable as possible. So here are the Dos and Don'ts of using our patterns</p>
  <div class="col-md-6">
    <h4 class="red">DO</h4>
    <ul class="checks">
      <li>Use patterns that coorespond to the content to go in them. ie. The features of a product should go in the features pattern</li>
      <li>Try to fit your content in any of these very diverse patterns BEFORE utilizing the general content type</li>
      <li>Try to use an icon from our ever growing icon library before utilizing an image if at all possible</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h4 class="red">DONT</h4>
    <ul class="times">
      <li>bold, italicize or alter any text in any way other than centering</li>
      <li>include buttons within any patterns other than the cta</li>
      <li>put in any hard coded styles on any elements within patterns</li>
    </ul>
  </div>
</div>

<!-- Lead -->
<div class="container">
  <h4>Lead</h4>
  <p>Limit to one paragraph</p>
  <div class="row">
    <div class="col-xs-12">
      <%- partial('../_partials/solutions/lead.ejs') %>
    </div>
  </div>
</div>


<%- partial('layouts/key-offers.ejs') %>
<%- partial('layouts/value-props.ejs') %>
<%- partial('../_partials/solutions/customer-stories.ejs') %>
<%- partial('layouts/ias.ejs') %>

<!-- Video -->
<div class="container">
  <h4>Video</h4>
  <div class="videoEmbed-row">
    <div class="videoEmbed-column">
      <%- partial('../_partials/solutions/video.ejs') %>
    </div>
  </div>
</div>

<%- partial('../_partials/solutions/quote.ejs') %>
<%- partial('../_partials/solutions/cta.ejs') %>
<%- partial('../_partials/solutions/testimonials.ejs') %>
<%- partial('layouts/additional-resources.ejs') %>
<%- partial('layouts/business-resources.ejs') %>
<%- partial('../_partials/solutions/tabs.ejs') %>
<%- partial('layouts/lists.ejs') %>
<%- partial('layouts/announcements.ejs') %>


<%- partial('../_partials/solutions/blog-feed.ejs') %>

<!-- Text -->
<div class="container">
  <h4>Text</h4>
  <div class="row">
    <div class="col-xs-12">
      <%- partial('../_partials/solutions/text.ejs') %>
    </div>
  </div>
</div>
