<%- partial("../_partials/_ceiling") %>
<%- partial("../_partials/_mainnav") %>

<!--Header Short-->
<div class="imacBanner imacBanner-stories">
  <div class="imacBanner-container">
    <div class="imacBanner-textRow">
      <div class="imacBanner-textContainer imacBanner-headlineSmall">
        <h2 class="imacBanner-headline">Customer Stories</h2>
        <span class="imacBanner-line left-top"></span>
        <span class="imacBanner-line left-bottom"></span>
        <span class="imacBanner-line right-bottom"></span>
      </div>
    </div>
  </div>
</div>

<!-- Story Region -->
<div class="container standard-padding">
  <div class="row">
    <div class="story-titleWrapper">
      <h1 class="story-title">Under Armour</h1>
    </div>
  </div>
  <div class="row">
    <div class="story-colLeft">
      <p>The company is the developer, marketer, and supplier of a wide range of sportswear and casual apparel mainly focusing on hi-tech sportswear for professional athletes. Under Armour began offering footwear in 2006, and now operates as a global company with offices in Denver, Amsterdam, Denver, Hong Kong, Toronto and Guangzhou, China.</p>
      <p><a href="javascript: void(0);" class="story-caseStudyButton">Read the Case Study</a></p>
    </div>
    <div class="story-colRight">
      <div class="embed-responsive embed-responsive-16by9">
        <%- partial('../_partials/solutions/video', {'videoId' : 'd_xh7lmCJZs'} ) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="story-colLeft">
      <h2 class="story-subtitle">Business</h2>
      <p>Under Armour is an American sports clothing and accessories company, headquarter in Baltimore, Maryland.</p>

      <h2 class="story-subtitle">Challenges</h2>
      <p>Finding a best-in-class hosting provider to host their high-demand Ecommerce and brand experience sites.</p>

      <h2 class="story-subtitle">Solution</h2>
      <p>
        <a href="javascript:void(0);">Managed Cloud Servers</a>,
        <a href="javascript:void(0);">Dedicated Server Clusters</a>,
        <a href="javascript:void(0);">Firewalls</a>,
        <a href="javascript:void(0);">Load Balancers</a>,
        <a href="javascript:void(0);">SAN Storage</a>,
        <a href="javascript:void(0);">Advanced Monitoring</a>,
        <a href="javascript:void(0);">Cloud Files</a>
      </p>
    </div>
    <div class="story-colRight">
      <h2 class="story-subtitle">Outcome</h2>
      <p>A high performance site infrastructure, plus the Fanatical Support service and uptime they required.</p>
    </div>
  </div>
</div>

<%- partial('../_partials/solutions/testimonials') %>
<%- partial('../_partials/solutions/cta') %>
<%- partial("../_partials/_rug") %>
<%- partial("../_partials/_footer") %>
<%- partial("../_partials/_basement") %>
