doctype html
html(lang="en")
  head
    base(href="#{base}")

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="format-detection", content="telephone=no")
    link(rel="icon", href="favicon.ico")

    title Zoolander Style Guide

    link(href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet")
    link(href="#{ css }", rel="stylesheet")
    link(href="#{ fonts }", rel="stylesheet")
    link(href="css/main.css", rel="stylesheet")
    script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
    script(src="https://577351e10bc4a0198d93-f60a0bb748a3c84145bb10da7563bafb.ssl.cf1.rackcdn.com/zoolander/modernizr.min.js")
    script(src="https://577351e10bc4a0198d93-f60a0bb748a3c84145bb10da7563bafb.ssl.cf1.rackcdn.com/zoolander/jquery.fittext.js")
    script(src="https://577351e10bc4a0198d93-f60a0bb748a3c84145bb10da7563bafb.ssl.cf1.rackcdn.com/zoolander/bootstrap-tabcollapse.js")
  body
    .row.row-eq-height
      button.navZoolander-slideBtn.navZoolander-leftArrow
      .navZoolander-container
        .siteHeader-logo
          .siteHeader-logoImg
        ul.navZoolander-list
          li.navZoolander-item
            a(href="#").navZoolander-link.navZoolander-hasDropdown Home
            ul.navZoolander-dropdown
              li.navZoolander-item
                a(href="./").navZoolander-dropdownLink Welcome
              li.navZoolander-item
                a(href="global/styleguide").navZoolander-dropdownLink Living Styleguide
              li.navZoolander-item
                a(href="global/contributing").navZoolander-dropdownLink Contributing

          li.navZoolander-item
            a(href="#").navZoolander-link.navZoolander-hasDropdown Brand Guidelines
            ul.navZoolander-dropdown
              li.navZoolander-item
                a(href="global/").navZoolander-dropdownLink Overview
              li.navZoolander-item
                a(href="global/brand-elements").navZoolander-dropdownLink Brand Elements
              li.navZoolander-item
                a(href="global/voice").navZoolander-dropdownLink Voice and Tone

          li.navZoolander-item
            a(href="#").navZoolander-link.navZoolander-hasDropdown Global Theme
            ul.navZoolander-dropdown
              li.navZoolander-dropdownItem
                a(href="derek/global-theme/").navZoolander-dropdownLink Overview
              li.navZoolander-dropdownItem
                a(href="derek/global-theme/typography").navZoolander-dropdownLink Typography
              li.navZoolander-dropdownItem
                a(href="derek/global-theme/photography").navZoolander-dropdownLink Photography/Banners
              li.navZoolander-dropdownItem
                a(href="derek/global-theme/swatches").navZoolander-dropdownLink Colors/Swatches
              li.navZoolander-dropdownItem
                a(href="derek/global-theme/icon-font").navZoolander-dropdownLink Icon Font
              li.navZoolander-dropdownItem
                a(href="derek/global-theme/buttons").navZoolander-dropdownLink Buttons/CTAs
              li.navZoolander-dropdownItem
                a(href="derek/global-theme/tables/tables").navZoolander-dropdownLink Tables
              li.navZoolander-dropdownItem
                a(href="derek/global-theme/forms").navZoolander-dropdownLink Forms

          //Add in themes dropdown when there are multiple

          li.navZoolander-item
            a(href="#").navZoolander-link.navZoolander-hasDropdown Ecommerce Theme
            ul.navZoolander-dropdown
              li.navZoolander-item
                a(href="derek/").navZoolander-dropdownLink Overview
              li.navZoolander-item
                a(href="derek/templates").navZoolander-dropdownLink Templates
              li.navZoolander-item
                a(href="derek/patterns/patterns").navZoolander-dropdownLink Patterns
              li.navZoolander-item
                a(href="derek/assets").navZoolander-dropdownLink Asset Library
              li.navZoolander-item
                a(href="derek/incubation").navZoolander-dropdownLink Dev Sandbox

    .mainContainer#mainContainer
      block content

  script(src="#{base}js/global.js")
  script(src="#{base}js/zoolander-only.js")
  script(src="#{base}global/modal.js")
