<div class=" half-padding container">
  <h3>Service Level Teasers (default w/links)</h3>
</div>

<!-- Service Level Teaser -->
<div class="half-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <%- partial('_partials/teaser-link.ejs', {
          title: "Human Experts",
          icon: "idio-winner",
          price: "$500/m"
        }) %>
      </div>
      <div class="col-sm-4">
        <%- partial('_partials/teaser-link.ejs', {
          title: "Navigator",
          icon: "srv-navigator",
          price: "$600/m"
        }) %>
      </div>
      <div class="col-sm-4">
        <%- partial('_partials/teaser-link.ejs', {
          title: "Aviator",
          icon: "srv-aviator",
          price: "$700/m"
        }) %>
      </div>
    </div>
    <div class="serviceLevelTeaser-bottom">
      <a href="#" class="serviceLevelTeaser-bottomLink">Compare All</a>
    </div>
  </div>
</div>

<div class="half-padding container">
  <h3>Service Level Teasers 2 only (default no links)</h3>
</div>

<!-- Teaser with only 2 option -->
<div class="half-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-push-2">
        <%- partial('_partials/teaser.ejs', {
          title: "Human Experts",
          icon: "idio-winner",
          price: "$500/m"
        }) %>
      </div>
      <div class="col-sm-4 col-sm-push-2">
        <%- partial('_partials/teaser.ejs', {
          title: "Navigator",
          icon: "srv-navigator",
          price: "$600/m"
        }) %>
      </div>
    </div>
    <div class="serviceLevelTeaser-bottom">
      <a href="#" class="serviceLevelTeaser-bottomLink">Compare All</a>
    </div>
  </div>
</div>

<div class="half-padding container">
  <h3>Service Level Teasers (stand out option no links)</h3>
</div>
<!-- Teaser with a standout option -->
<div class="half-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <%- partial('_partials/teaser.ejs', {
          title: "Human Experts",
          icon: "idio-winner",
          price: "$500/m",
          standoutClass: "serviceLevelTeaser-default"
        }) %>
      </div>
      <div class="col-sm-4">
        <%- partial('_partials/teaser.ejs', {
          title: "Navigator",
          icon: "srv-navigator",
          price: "$600/m",
          standoutClass: "serviceLevelTeaser-standOut"
        }) %>
      </div>
      <div class="col-sm-4">
        <%- partial('_partials/teaser.ejs', {
          title: "Aviator",
          icon: "srv-aviator",
          price: "$700/m",
          standoutClass: "serviceLevelTeaser-default"
        }) %>
      </div>
    </div>
    <div class="serviceLevelTeaser-bottom">
      <a href="#" class="serviceLevelTeaser-bottomLink">Compare All</a>
    </div>
  </div>
</div>
