<div class="landingpage-wrapper">

  <%- partial("../../_partials/_ceilingLp") %>

  <%- partial("../../_partials/solutions/header-mediumIMAC.ejs") %>

  <%- partial("../../_partials/solutions/video.ejs") %>

  <%- partial("../../_partials/solutions/value-prop.ejs") %>

  <%- partial("../../_partials/solutions/testimonials.ejs") %>

  <%- partial("../../_partials/solutions/cta.ejs") %>

  <%- partial("../../_partials/solutions/footer.ejs") %>

</div>
