<div class="container standard-padding">
  <%- partial('../../pattern-components/leads/lead/lead.ejs', { desc: 'Beginning with our founders—Richard Yoo, Pat Condon, Dirk Elmendorf, Morris Miller and Graham Weston—our leaders have guided our company to do whats best and right for the hundreds of thousands of businesses that depend on us. Meet the individuals who help make Rackspace great.' }) %>
  <div class="row half-padding">
    <h2 class="center">Global Leadership</h2>
    <div class="col-sm-3 col-xs-6 center-block">
      <%- partial('_leadership-individual') %>
    </div>
  </div>
  <div class="row half-padding">
    <div class="col-sm-3 col-xs-6">
      <%- partial('_leadership-individual') %>
    </div>
    <div class="col-sm-3 col-xs-6">
      <%- partial('_leadership-individual') %>
    </div>
    <div class="col-sm-3 col-xs-6">
      <%- partial('_leadership-individual') %>
    </div>
    <div class="col-sm-3 col-xs-6">
      <%- partial('_leadership-individual') %>
    </div>
  </div>
  <div class="row half-padding">
    <div class="col-sm-3 col-xs-6">
      <%- partial('_leadership-individual') %>
    </div>
    <div class="col-sm-3 col-xs-6">
      <%- partial('_leadership-individual') %>
    </div>
    <div class="col-sm-3 col-xs-6">
      <%- partial('_leadership-individual') %>
    </div>
    <div class="col-sm-3 col-xs-6">
      <%- partial('_leadership-individual') %>
    </div>
  </div>

  <div class="row half-padding">
    <h2 class="center">International Leadership</h2>
    <div class="col-sm-3 col-xs-6 center-block">
      <%- partial('_leadership-individual') %>
    </div>
  </div>
  <div class="row half-padding">
    <div class="col-sm-3 col-xs-6">
      <%- partial('_leadership-individual') %>
    </div>
    <div class="col-sm-3 col-xs-6">
      <%- partial('_leadership-individual') %>
    </div>
    <div class="col-sm-3 col-xs-6">
      <%- partial('_leadership-individual') %>
    </div>
    <div class="col-sm-3 col-xs-6">
      <%- partial('_leadership-individual') %>
    </div>
  </div>
</div>
