<%- partial('../../pattern-components/leads/lead-full-width/lead-full-width.ejs') %>

<h2 class="center">Relevant industry compliance and certificate logos can go here</h2>
<%- partial('../../pattern-components/awards/awards.ejs') %>

<%- partial('../../pattern-components/quotes/quote-full-width.ejs') %>

<%- partial("../../pattern-components/ctas/cta-bottom.ejs") %>

<%- partial('../../pattern-components/tabs/tabs-horizontal.ejs') %>

<%- partial("../../pattern-components/ctas/cta-bottom.ejs") %>
