<%- partial('../../layouts/leadFullWidth.ejs') %>

<h2 class="center">Relevant industry compliance and certificate logos can go here</h2>
<%- partial('../../layouts/awards.ejs') %>

<%- partial('../../layouts/quote-fullWidth.ejs') %>

<%- partial("../../_partials/solutions/cta-bottom.ejs") %>

<%- partial('../../layouts/tabs-horizontal.ejs') %>

<%- partial("../../_partials/solutions/cta-bottom.ejs") %>

