<%- partial('../../pattern-components/leads/lead-full-width/lead-full-width.ejs') %>

<h2 class="center">Relevant industry compliance and certificate logos can go here</h2>
<%- partial('../../pattern-components/awards/awards.ejs') %>

<%- partial('../../layouts/quote-fullWidth.ejs') %>

<%- partial("../../_partials/solutions/cta-bottom.ejs") %>

<%- partial('../../layouts/tabs-horizontal.ejs') %>

<%- partial("../../_partials/solutions/cta-bottom.ejs") %>
