<!-- IAS: 33/34/33 + 33/33-push -->
<div class="container half-padding">
  <h4>Infrastructure and Services</h4>
  <div class="row row-eq-height">
    <div class="col-sm-4 panel-flex">
      <%- partial('../../_partials/cards/ias.ejs') %>
    </div>
    <div class="col-sm-4 panel-flex">
      <%- partial('../../_partials/cards/ias.ejs', { desc: 'This is short'}) %>
    </div>
    <div class="col-sm-4 panel-flex">
      <%- partial('../../_partials/cards/ias.ejs', { desc: 'This is extra long. This is extra long. This is extra long. This is extra long. This is extra long. This is extra long. This is extra long. This is extra long. This is extra long. This is extra long.' }) %>
    </div>
  </div>
  <div class="row row-eq-height">
    <div class="col-sm-4 col-sm-push-2 panel-flex">
      <%- partial('../../_partials/cards/ias.ejs') %>
    </div>
    <div class="col-sm-4 col-sm-push-2 panel-flex">
      <%- partial('../../_partials/cards/ias.ejs', { desc: 'This is short'}) %>
    </div>
  </div>
</div>
