
<!-- Key Offers: 33/34/33 -->
<div class="half-padding bg-light-gray">
  <div class="container">
    <h4>Key Offers</h4>
    <h5>Three Columns</h5>
    <div class="row row-eq-height">
      <div class="col-sm-4 panel-flex">
        <%- partial('../../_partials/cards/key-offer.ejs') %>
      </div>
      <div class="col-sm-4 panel-flex">
        <%- partial('../../_partials/cards/key-offer-no-hover.ejs', { desc: 'This has no hover'}) %>
      </div>
      <div class="col-sm-4 panel-flex">
        <%- partial('../../_partials/cards/key-offer.ejs', { desc: 'This is extra long. This is extra long. This is extra long. This is extra long. This is extra long. This is extra long. This is extra long. This is extra long. This is extra long. This is extra long.' }) %>
      </div>
    </div>
    <h5>Two Columns</h5>
    <div class="row row-eq-height">
      <div class="col-sm-6 panel-flex">
        <%- partial('../../_partials/cards/key-offer.ejs') %>
      </div>
      <div class="col-sm-6 panel-flex">
        <%- partial('../../_partials/cards/key-offer-no-hover.ejs', { desc: 'This has no hover'}) %>
      </div>
    </div>
  </div>
</div>
