<%- partial('../global-components/ceiling/ceilingDark/ceilingDark') %>

<div class="contentOffset-landingPage">

  <div class="standard-padding-top">
    <div class="lead-wrapper">
      <div class="lead-headerWrapper">
        <h1 class="lead-header">Login to Your Rackspace Account</h1>
      </div>
    </div>
  </div>

  <%- partial('../pattern-components/value-props/value-props.ejs') %>

</div>

<%- partial('../global-components/back-to-top/back-to-top') %>

<%- partial('../global-components/rug/rug') %>

<%- partial('../global-components/footer/footer') %>
