<%- partial("../_partials/_ceiling") %>
<%- partial("../_partials/_mainnav") %>

<div class="contentOffset">
  <%- partial("../_partials/solutions/header-mediumIMAC.ejs") %>

  <div class="container standard-padding-top">
    <div class="row flex-row">
      <div class="col-md-6 flex-all">
        <div class="subpanel">
          <div class="subpanel-inner">
            <%- partial("../_partials/solutions/lead.ejs") %>
          </div>
        </div>
      </div>
      <div class="col-md-6 flex-all">
        <div class="subpanel">
          <div class="subpanel-inner">
            <%- partial("../_partials/solutions/video.ejs") %>
          </div>
        </div>
      </div>
    </div>
    <%- partial('layouts/valueProps.ejs') %>
  </div>

  <%- partial('layouts/awards.ejs') %>

  <div class="bg-dark-gray">
    <div class="container standard-padding">
      <h2 class="white">Placeholder for products showcase we haven't developed yet.</h2>
    </div>
  </div>

  <!-- Quadrant -->
  <div class="container-fluid quadrant" id="quadrant">
    <div class="container">
      <div class="quadrant-row">
        <div class="quadrant-textContainer">
          <h2 class="quadrant-title">Fanatical Support wherever you are, day or night, we have you covered 24x7x365</h2>
          <p class="quadrant-text">We're more than just a hosting provider - we're your trusted service partner, and we're ready to help solve the toughest problems. Gartner has recognized us as a leader in their <a href="[rsweb:about:cloud-enabled]">Magic Quadrant for Cloud Enabled Managed Hosting.</a></p>
            <div class="quadrant-buttonContainer">
              <a class="button learning" href="[rsweb:why-rackspace]">Learn More</a>
            </div>
        </div>
      </div>
    </div>
  </div>

  <%- partial("../_partials/solutions/testimonials.ejs") %>

  <%- partial("../_partials/solutions/cta-bottom.ejs") %>

  <%- partial("../_partials/solutions/footer.ejs") %>
</div>
