<%
var images = [
  'imgs/derek/logos/Redhat-Logo-Whitev2.png',
  'imgs/derek/logos/underarmor.png',
  'imgs/derek/logos/yetiLogo_main.png'
];
var quote = 'This is a customer stories fake quote for the featured section at the top of the customer stories homepage. We will probably need to include a character limit so that this does not span more than 3 lines.';
var featQuotes = [
  {
    area: 'Top',
    logo: 'https://www.rackspace.com/sites/default/files/story-logos/construct-3.png',
  },
  {
    area: 'Center',
    logo: 'https://www.rackspace.com/sites/default/files/story-logos/sagittarius.png',
    link: 'https://www.rackspace.com/customer-stories/sagittarius',
    linkClass: 'story-featured-link'
  },
  {
    area: 'Bottom',
    logo: 'https://www.rackspace.com/sites/default/files/story-logos/docker_0.png',
  }
]
%>

<!--Header Short-->
<div class="story-featured-container">
  <div class="story-featured-text">
    <h1>Rackspace Customer Stories</h1>
    <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
      tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
      nostrud exerci tation</p>
  </div>
  <div class="story-featured-cards">
    <% for (var i = 0; i < featQuotes.length; i++) { %>
      <!-- Only make a link if story page exists -->
      <% if (featQuotes[i].link) { %>
        <a href="<%- featQuotes[i].link %>">
      <% } %>
      <div class="story-featured-cardRow">
        <div class="story-featured-cardLogo story-featured-cardLogo<%- featQuotes[i].area %>">
          <div class="story-featured-logoInner">
            <img src="<%- featQuotes[i].logo %>" alt="Logo name">
          </div>
        </div>
        <div class="story-featured-cardQuote story-featured-cardQuote<%- featQuotes[i].area %> <%- featQuotes[i].linkClass %>">
          <div class="story-featured-quoteInner">
            <span class="story-featured-quote"><%- quote %></span>
            <span class="story-featured-quoteSource">-Name Here [position]</span>
          </div>
        </div>
      </div>
      <!-- Close out conditional link -->
      <% if (featQuotes[i].link) { %>
        </a>
      <% } %>
    <% } %>
  </div>
  <a href="#customer-stories-section" class="story-featured-seeMore rsAnchor-scroll"></a>
</div>

<div class="rsFilter-section">
  <div class="rsFilter-sideBar-row row-eq-height">
    <div class="rsFilter-sideBar">
      <!-- TITLE BOX -->
      <div class="rsFilter-sideBar-titleContainer">
        <button class="rsFilter-sideBar-hamburger"></button>
        <div class="rsFilter-sideBar-formTitle">Find a Resource</div>
      </div>
      <!-- THE SELECTION FORM -->
      <form class="rsFilter-sideBar-form">
        <!-- Accordion Side -->
        <div class="rsFilter-sideBar-content">
          <ul class="rsFilter-sideBar-acc">
            <li class="rsFilter-sideBar-accItem">
              <label class="rsFilter-sideBar-accLabel">Resource Types</label>
              <div class="rsFilter-sideBar-accItemContent">
                <div class="rsFilter-sideBar-checkbox">
                  <%- partial('_partials/checkbox.ejs', {
                    checkboxes: [
                    { name: 'Code Repository' },
                    { name: 'Customer Stories' },
                    { name: 'Data Sheet' },
                    { name: 'Infographic' },
                    { name: 'Reference Architecture' },
                    { name: 'Support Article' },
                    { name: 'Video' },
                    { name: 'Webinar' },
                    { name: 'White Paper' },
                    { name: 'eBook' }
                    ],
                  }) -%>
                </div>
              </div>
            </li>
            <li class="rsFilter-sideBar-accItem">
              <label class="rsFilter-sideBar-accLabel">Solutions</label>
              <div class="rsFilter-sideBar-accItemContent">
                <div class="rsFilter-sideBar-checkbox">
                  <%- partial('_partials/checkbox.ejs', {
                    checkboxes: [
                    { name: 'Application Services / DevOps' },
                    { name: 'Compliance' },
                    { name: 'Data Services' },
                    { name: 'DDoS Mitigation' },
                    { name: 'eCommerce Hosting' },
                    { name: 'Email Hosting' },
                    { name: 'Infrastructure' },
                    { name: 'Managed Hosting' },
                    { name: 'Public Cloud' },
                    { name: 'Private Cloud' },
                    { name: 'Hybrid Cloud' },
                    { name: 'Multi-Cloud' },
                    { name: 'Migration' },
                    { name: 'Networking' },
                    { name: 'Performance' },
                    { name: 'Privacy and Data Protection' },
                    { name: 'Productivity and Collaboration' },
                    { name: 'Scalability' },
                    { name: 'Security' },
                    { name: 'Uptime' },
                    { name: 'Virtualization' },
                    { name: 'Web Content Management' },
                    { name: 'Website Hosting' }
                    ],
                  }) -%>
                </div>
              </div>
            </li>
            <li class="rsFilter-sideBar-accItem">
              <label class="rsFilter-sideBar-accLabel">Products</label>
              <div class="rsFilter-sideBar-accItemContent">
                <div class="rsFilter-sideBar-checkbox">
                  <%- partial('_partials/checkbox.ejs', {
                    checkboxes: [
                    { name: 'Dedicated Servers' },
                    { name: 'Custom Networking' },
                    { name: 'Storage' },
                    { name: 'Hybrid Cloud' },
                    { name: 'Server Virtualization' },
                    { name: 'Rackspace Private Cloud powered by VMware' },
                    { name: 'Microsoft Private Cloud' },
                    { name: 'Microsoft Hyper-V' },
                    { name: 'OpenStack Private Cloud' },
                    { name: 'OpenStack Pricate Cloud powered by OpenStack' },
                    { name: 'OpenStack Private Cloud powered by Red Hat' },
                    { name: 'Fanatical Support for AWS' },
                    { name: 'Fanatical Support for Microsoft Azure' },
                    { name: 'Google Cloud' },
                    { name: 'OpenStack Public Cloud' },
                    { name: 'Multi-Cloud' },
                    { name: 'Rackspace Managed Security' },
                    { name: 'Compliance Assistance' },
                    { name: 'Magento' },
                    { name: 'Adobe Experience Manager' },
                    { name: 'SAP Hybris' },
                    { name: 'Oracle Retail' },
                    { name: 'Sitecore Experience Platform' },
                    { name: 'Fanatical Support for Office 365' },
                    { name: 'Rackspace Email' },
                    { name: 'Microsoft Exchange' },
                    { name: 'SharePoint' },
                    { name: 'Partner' },
                    { name: 'Data Services' },
                    { name: 'Cloud Services' },
                    { name: 'Application Services / DevOps' },
                    { name: 'Data Services' },
                    { name: 'Security & Governance Services' }
                    ],
                  }) -%>
                </div>
              </div>
            </li>
            <li class="rsFilter-sideBar-accItem">
              <label class="rsFilter-sideBar-accLabel">Industry</label>
              <div class="rsFilter-sideBar-accItemContent">
                <div class="rsFilter-sideBar-checkbox">
                  <%- partial('_partials/checkbox.ejs', {
                    checkboxes: [
                    { name: 'Aerospace & Defense' },
                    { name: 'Agriculture' },
                    { name: 'Apparel' },
                    { name: 'Asspciations' },
                    { name: 'Automotive' },
                    { name: 'Biotech' },
                    { name: 'Business Services' },
                    { name: 'Construction' },
                    { name: 'Consumer Goods & Services' },
                    { name: 'Education' },
                    { name: 'Energy & Utilites' },
                    { name: 'Financial Services' },
                    { name: 'Food & Beverage' },
                    { name: 'Furniture' },
                    { name: 'Government' },
                    { name: 'Hardware' },
                    { name: 'Healthcare & Medical' },
                    { name: 'Home & Garden' },
                    { name: 'Hospitality & Travel' },
                    { name: 'Legal' },
                    { name: 'Manufacturing' },
                    { name: 'Media & Entertainment' },
                    { name: 'Mining' },
                    { name: 'Non-Profit' },
                    { name: 'Pharmaceuticals' },
                    { name: 'Printing & Publishing' },
                    { name: 'Real Estate' },
                    { name: 'Recreation' },
                    { name: 'Retail & Distribution' },
                    { name: 'Software & Technology' },
                    { name: 'Telecommunications' },
                    { name: 'Textiles' },
                    { name: 'Transportation & Logistics' }
                    ],
                  }) -%>
                </div>
              </div>
            </li>
            <li class="rsFilter-sideBar-accItem">
              <label class="rsFilter-sideBar-accLabel">Region</label>
              <div class="rsFilter-sideBar-accItemContent">
                <div class="rsFilter-sideBar-checkbox">
                  <%- partial('_partials/checkbox.ejs', {
                    checkboxes: [
                    { name: 'North America' },
                    { name: 'Europe' },
                    { name: 'UK' },
                    { name: 'DACH' },
                    { name: 'Benelux' },
                    { name: 'Nordics' },
                    { name: 'Latin America' },
                    { name: 'Australia' },
                    { name: 'New Zealand' },
                    { name: 'Asia' },
                    { name: 'Middle East' },
                    { name: 'Global' }
                    ],
                  }) -%>
                </div>
              </div>
            </li>
          </ul>
          <div class="rsFilter-sideBar-btnWrap">
            <input class="rsFilter-sideBar-submit form-submit" type="submit" id="edit-submit-resource-library" name="" value="Show Results">
          </div>
        </div>
      </form>
    </div>
    <!-- SEPARATE -->
    <div class="rsFilter-content rsFilter-storiesContent">
      <div class="storyOverview-searchResults">
        <% for (var row = 0; row < 4; row++) { %>
        <div class="row">
          <% for (var col = 0; col < 3; col++) { %>
            <div class="storyOverview-item">
              <div class="storyOverview-itemInner">
                <!-- the storyOverview-itemLink-withImg class is conditional if a bg img is wanted -->
                <a href="/derek/view-templates/stories/stories-interior" class="storyOverview-itemLink storyOverview-itemLink-withImg">
                  <!-- this div should also be conditionally loaded if there is a bg img wanted -->
                  <div class="storyOverview-item-img"></div>
                  <% if ((col + row) % 4 === 3) { %>
                  <span class="storyOverview-logoText">Company Name That Spans Multiple Lines</span>
                  <% } else { %>
                  <img class="storyOverview-logo" src="<%- images[(col + row) % 3] %>" alt="Under Armour">
                  <% } %>
                </a>
              </div>
            </div>
          <% } %>
        </div>
        <% } %>
        <%- partial('../pagination.ejs') %>
      </div>
    </div>
  </div>
</div>

<script src="js/global-components/filter-bar/filter-accordion.js" charset="utf-8"></script>
<script type="text/javascript">
  $('.rsFilter-sideBar').rsFilterBarAccordion();
</script>
