<%
var images = [
  'imgs/derek/logos/Redhat-Logo-Whitev2.png',
  'imgs/derek/logos/underarmor.png',
  'imgs/derek/logos/yetiLogo_main.png'
];
var quote = 'This is a customer stories fake quote for the featured section at the top of the customer stories homepage. We will probably need to include a character limit so that this does not span more than 3 lines.';
var featQuotes = [
  {
    area: 'Top',
    logo: 'https://www.rackspace.com/sites/default/files/story-logos/construct-3.png',
  },
  {
    area: 'Center',
    logo: 'https://www.rackspace.com/sites/default/files/story-logos/sagittarius.png',
    link: 'https://www.rackspace.com/customer-stories/sagittarius',
    linkClass: 'story-featured-link'
  },
  {
    area: 'Bottom',
    logo: 'https://www.rackspace.com/sites/default/files/story-logos/docker_0.png',
  }
]
%>

<!--Header Short-->
<div class="story-featured-container">
  <div class="story-featured-text">
    <h1>Rackspace Customer Stories</h1>
    <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
      tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
      nostrud exerci tation</p>
  </div>
  <div class="story-featured-cards">
    <% for (var i = 0; i < featQuotes.length; i++) { %>
      <!-- Only make a link if story page exists -->
      <% if (featQuotes[i].link) { %>
        <a href="<%- featQuotes[i].link %>">
      <% } %>
      <div class="story-featured-cardRow">
        <div class="story-featured-cardLogo story-featured-cardLogo<%- featQuotes[i].area %>">
          <div class="story-featured-logoInner">
            <img src="<%- featQuotes[i].logo %>" alt="Logo name">
          </div>
        </div>
        <div class="story-featured-cardQuote story-featured-cardQuote<%- featQuotes[i].area %> <%- featQuotes[i].linkClass %>">
          <div class="story-featured-quoteInner">
            <span class="story-featured-quote"><%- quote %></span>
            <span class="story-featured-quoteSource">-Name Here [position]</span>
          </div>
        </div>
      </div>
      <!-- Close out conditional link -->
      <% if (featQuotes[i].link) { %>
        </a>
      <% } %>
    <% } %>
  </div>
  <a href="#customer-stories-section" class="story-featured-seeMore rsAnchor-scroll"></a>
</div>

<div class="rsFilter-section">
  <div class="rsFilter-row row-eq-height">
    <div class="rsFilter-bar rsFilter-storiesBar">
      <button class="rsFilter-hamburger rsFilter-storiesBarTitle"></button>
      <div class="rsFilter-mobileTitle rsFilter-storiesBarTitle">Find a Story</div>
      <form method="post" action="javascript:void(0);" class="rsFilter-form">
        <div class="rsFilter-formTitle rsFilter-storiesBarTitle">Find a Story</div>
        <div class="form-item form-type-select form-item-tid-1">
          <select class="rsFilter-formSelect form-select">
            <option disabled="disabled" selected="selected">Product</option>
            <option value="1">All</option>
            <option value="2">Cloud Backup</option>
            <option value="3">Cloud Block Storage</option>
            <option value="4">...</option>
          </select>
        </div>
        <div class="form-item form-type-select form-item-tid-1">
          <select class="rsFilter-formSelect form-select">
            <option disabled="disabled" selected="selected">Region</option>
            <option value="1">All</option>
            <option value="2">Asia</option>
            <option value="3">Australia</option>
            <option value="4">...</option>
          </select>
        </div>
        <button class="rsFilter-button">Show Results</button>
      </form>
    </div>
    <div class="rsFilter-content rsFilter-storiesContent">
      <div class="storyOverview-searchResults">
        <% for (var row = 0; row < 4; row++) { %>
        <div class="row">
          <% for (var col = 0; col < 3; col++) { %>
            <div class="storyOverview-item">
              <div class="storyOverview-itemInner">
                <a href="/derek/view-templates/stories/stories-interior" class="storyOverview-itemLink storyOverview-itemLink-withImg">
                  <% if ((col + row) % 4 === 3) { %>
                  <span class="storyOverview-logoText">Company Name That Spans Multiple Lines</span>
                  <% } else { %>
                  <img class="storyOverview-logo" src="<%- images[(col + row) % 3] %>" alt="Under Armour">
                  <% } %>
                </a>
              </div>
            </div>
          <% } %>
        </div>
        <% } %>
        <div class="row">
          <ul class="pager rsFilter-storiesPager">
            <li class="pager-previous rsFilter-storiesPager-prev first">
              <a class="rsFilter-storiesPager-prev" href="javascript:void(0);">prev</a>
            </li>
            <li class="pager-current rsFilter-storiesPager-current">2 of 10</li>
            <li class="pager-next rsFilter-storiesPager-next last">
              <a class="rsFilter-storiesPager-next" href="javascript:void(0);">next</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="js/global-components/filter-bar/filter-bar.js" charset="utf-8"></script>
<script src="js/global-components/anchor-scroll/anchor-scroll.js" charset="utf-8"></script>
<script type="text/javascript">
  $('.rsAnchor-scroll').anchorScroll();
</script>
