<%- partial("../_partials/_ceiling") %>
<%- partial("../_partials/_mainnav") %>
<div class="contentOffset">
  <!-- Banner Region -->
  <div class="imacBanner imacBanner-events">
    <div class="imacBanner-container">
      <div class="imacBanner-textRow">
        <div class="imacBanner-textContainer imacBanner-headlineSmall">
          <h2 class="imacBanner-headline">
            <div class="field-banner-header">
              Rackspace Events Calendar
            </div>
          </h2>
          <div class="imacBanner-line left-top"></div>
          <div class="imacBanner-line left-bottom"></div>
          <div class="imacBanner-line right-bottom"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-light-gray">
    <div class="event">
      <div class="event-row">
        <div class="event-date">
          <div class="event-dateBox">
            <div class="event-dateBox-month">July</div>
            <div class="event-dateBox-day">24</div>
            <div class="event-dateBox-year">2016</div>
          </div>
        </div>
        <div class="event-info">
          <div class="event-info-header">
            <h1 class="event-info-headerTitle">
              Rackspace::Solve San Francisco
            </h1>
            <div class="event-info-headerType">
              Tradeshow/Conference
            </div>
          </div>
          <div class="event-info-whereWhen">
            <div class="event-info-where">
              <div class="event-info-whereTitle">
                Where
              </div>
              <div class="event-info-whereAddress">
                Four Seasons<br />
                757 Market St<br />
                San Francisco, California 94103
              </div>
            </div>
            <div class="event-info-when">
              <div class="event-info-whenTitle">
                When
              </div>
              <div class="event-info-whenDateTime">
                July 24-July 26<br />
                8:00am-6:00pm
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="event-row">
        <div class="event-map">
          <img class="event-mapCanvas" src="/imgs/derek/examples/event-map.jpg" alt="[map]" />
        </div>
        <div class="event-details">
          <div class="event-detailsTitle">Details</div>
          <p>Join us at Rackspace::Solve San Francisco, a free conference where you’ll learn how the latest cloud solutions can help you scale your business, get your products to market quickly, and reduce the cost of innovation.</p>
          <p>Sessions cover real world solutions to cloud security, big data, and private cloud challenges. Visit our Solutions Pavilion to discuss your company’s specific needs and whiteboard solutions with Rackspace experts and partners.</p>
          <p>Beyond empowering companies to tap into the power of the cloud, Rackspace also strives for social empowerment. In that spirit, we’ll make a monetary donation of $15 per attendee to Girls Who Code – up to $5,000. In addition to a great day of learning and networking, your attendance at Rackspace::Solve will help give high school girls the skills and resources they need to pursue opportunities in computing fields.</p>
        </div>
      </div>
      <div class="event-row">
        <a class="event-backToEvents" href="/derek/incubation/events">Back to upcoming events</a>
      </div>
    </div>
  </div>

  <%- partial("../_partials/_back-to-top") %>
  <%- partial("../global-components/rug/rug") %>
  <%- partial("../global-components/footer/footer") %>
  <%- partial("../global-components/basement/basement") %>
</div>
