<%- partial("../pattern-components/headers/header-refresh-homepage-06_2018.ejs") %>

<%- partial('../pattern-components/announcements/_partials/announcement.ejs', {
  'header': 'Rackspace named Partner of the Year',
  'body': 'Redhat names Rackspace North America Managed Service Partner of the Year'
}) %>

<%- partial("../pattern-components/cust-story-river/cust-story-river.ejs") %>

<%- partial("../pattern-components/about-river/about-river.ejs") %>

<div class="rsHomepage-platformContainer">
  <div class="rsHomepage-platformRow">
    <div class="rsHomepage-platformTitleWrapper">
      <h1 class="rsHomepage-platformH1">We Are The #1 Managed Cloud Provider</h1>
      <h3 class="rsHomepage-platformSubhead">Your dedicated cloud hosting service experts</h3>
      <p class="rsHomepage-platformParagraph">You need to evolve and innovate to be successful. But the cloud is as complex as it is powerful. Our experts are certified in all the leading cloud technologies - so you don’t have to be.</p>
    </div>
    <%- partial("../pattern-components/platforms/platforms.ejs") %>
  </div>
</div>

<%- partial("../pattern-components/industry-river/industry-river.ejs") %>

<%- partial("../pattern-components/experience-river/experience-river.ejs") %>

<!-- Case Study -->

<div class="caseStudy-wrapper">
  <div class="caseStudy-container">
    <div class="caseStudy-row">
      <div class="caseStudy-content">
        <img class="caseStudy-image" src="/imgs/derek/logos/McKesson_logo_white.svg"/>
        <h3 class="caseStudy-title">Reducing the Overhead of Dedicated Data Centers</h3>
        <p class="caseStudy-text">See how McKesson moved their apps to public cloud while maintaining stringent security and healthcare compliance.</p>
        <a class="caseStudy-button button ghost">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- partial('../pattern-components/announcements/_partials/announcement.ejs', {
  'header': 'It\'s national cybersecurity month',
  'body': 'Build your cybersecurity knowledge with a month of interactive content. No matter where you are on your journey, we can help you achieve a successful, future-proof digital transformation.'
}) %>

<%- partial("../pattern-components/blog-feed/blog-feed.ejs") %>

<% include ../global-components/modal/region-select.ejs %>
<% include ../global-components/modal/call-us.ejs %>
<% include ../global-components/modal/email-us.ejs %>