<%- partial("../pattern-components/headers/header-refresh-homepage-06_2018.ejs") %>

<div class="rsHomepage-announcement">
  <div class="rsHomepage-leftStripContainer">
    <div class="rsHomepage-annLeftBar">
      <a href="#" target="_blank">
      <div class="rsHomepage-titleContainer">
        <h2 class="rsHomepage-annLeftBar-header">Unbiased Expertise</h2>
        <h3 class="rsHomepage-annLeftBar-subHeader">
          Lean on our experts for a point of view based on experience across leading technologies
        </h3>
      </div>
      </a>
    </div>
    <div class="rsHomepage-annRight-iconBar"></div>
  </div>
  <div class="rsHomepage-annLeft rsHomepage-annLeft-062018">
    <div class="rsHomepage-annLeftContainer">
      <div class="rsHomepage-annLeft-content">
        <p class="rsHomepage-annLeft-p rsHomepage-annLeft-p-062018">
          Taking on a digital transformation can be tough &mdash; and many businesses give up before they reach their goals. No matter where you are on your journey, we can help you achieve a successful, future-proof digital transformation, across the world's leading technologies.
        </p>
      </div>
    </div>
  </div>
  <div class="rsHomepage-annRight rsHomepage-annRight-062018"></div>
</div>

<%- partial("../pattern-components/about-river/about-river.ejs") %>

<div class="rsHomepage-platformContainer">
  <div class="rsHomepage-platformRow">
    <div class="rsHomepage-platformTitleWrapper">
      <h1 class="rsHomepage-platformH1">We Are The #1 Managed Cloud Provider</h1>
      <h3 class="rsHomepage-platformSubhead">Your dedicated cloud hosting service experts</h3>
      <p class="rsHomepage-platformParagraph">You need to evolve and innovate to be successful. But the cloud is as complex as it is powerful. Our experts are certified in all the leading cloud technologies - so you don’t have to be.</p>
    </div>
    <%- partial("../pattern-components/platforms/platforms.ejs") %>
  </div>
</div>


<%- partial("../pattern-components/tabs/tabs-horizontal.ejs") %>


<!-- Case Study -->

<div class="caseStudy-wrapper">
  <div class="caseStudy-container">
    <div class="caseStudy-row">
      <div class="caseStudy-content">
        <img class="caseStudy-image" src="/imgs/derek/logos/McKesson_logo_white.svg"/>
        <h3 class="caseStudy-title">Reducing the Overhead of Dedicated Data Centers</h3>
        <p class="caseStudy-text">See how McKesson moved their apps to public cloud while maintaining stringent security and healthcare compliance.</p>
        <a class="caseStudy-button button ghost">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- partial("../pattern-components/blog-feed/blog-feed.ejs") %>

<% include ../global-components/modal/region-select.ejs %>
<% include ../global-components/modal/call-us.ejs %>
<% include ../global-components/modal/email-us.ejs %>
