<%- partial("../pattern-components/headers/header-refresh-homepage-06_2018.ejs") %>

<%- partial('../pattern-components/announcements/_partials/announcement.ejs', {
  'header': 'Rackspace named Partner of the Year',
  'body': 'Redhat names Rackspace North America Managed Service Partner of the Year'
}) %>

<%- partial("../pattern-components/about-river/about-river.ejs") %>

<div class="rsHomepage-platformContainer">
  <div class="rsHomepage-platformRow">
    <div class="rsHomepage-platformTitleWrapper">
      <h1 class="rsHomepage-platformH1">We Are The #1 Managed Cloud Provider</h1>
      <h3 class="rsHomepage-platformSubhead">Your dedicated cloud hosting service experts</h3>
      <p class="rsHomepage-platformParagraph">You need to evolve and innovate to be successful. But the cloud is as complex as it is powerful. Our experts are certified in all the leading cloud technologies - so you don’t have to be.</p>
    </div>
    <%- partial("../pattern-components/platforms/platforms.ejs") %>
  </div>
</div>

<%- partial("../pattern-components/industry-river/industry-river.ejs") %>

<%- partial("../pattern-components/experience-river/experience-river.ejs") %>

<!-- Case Study -->

<div class="caseStudy-wrapper">
  <div class="caseStudy-container">
      <div class="caseStudy-row">
          <img class="caseStudy-banner-image" src="/imgs/derek/banners/customer-story-background.jpg"/>
      </div>
      <div class="caseStudy-row row-eq-height">
        <div class="caseStudy-box caseStudy-header col-lg-3">Helping our customers get to great</div>
        <!-- <div class="col-sm-6"></div> -->
        <div class="caseStudy-box col-lg-3 col-lg-offset-6">
          <img class="caseStudy-image" src="/imgs/derek/logos/feeding-america-blk.png"/>
          <p class="caseStudy-text">Feeding America migrated over a petabyte of its data to a serverless cloud architecture, eliminating hardware maintenance and reducing capital costs.</p>
          <a class="caseStudy-button">Read their story &gt;</a>
        </div>
      </div>
      <div class="caseStudy-row row-eq-height">
        <!-- <div class="col-sm-3"></div> -->
        <div class="caseStudy-box col-lg-3 col-lg-offset-3">
          <img class="caseStudy-image" src="/imgs/derek/logos/mckesson-blk.png"/>
          <p class="caseStudy-text">McKesson simplified its dated, complex workflow by migrating data to the cloud, and transformed its management abilities.</p>
          <a class="caseStudy-button">Read their story &gt;</a>
        </div>
        <!-- <div class="col-sm-3"></div> -->
        <div class="caseStudy-box col-lg-3 col-lg-offset-3">
          <img class="caseStudy-image" src="/imgs/derek/logos/aeromexico-blk.png"/>
          <p class="caseStudy-text">Aeromexico created a unique digital environment through its robust infrastructure and website to support a high volume of transactions at any given time.</p>
          <a class="caseStudy-button">Read their story &gt;</a>
        </div>
      </div>
  </div>
</div>

<%- partial('../pattern-components/announcements/_partials/announcement.ejs', {
  'header': 'It\'s national cybersecurity month',
  'body': 'Build your cybersecurity knowledge with a month of interactive content. No matter where you are on your journey, we can help you achieve a successful, future-proof digital transformation.'
}) %>

<%- partial("../pattern-components/blog-feed/blog-feed.ejs") %>

<% include ../global-components/modal/region-select.ejs %>
<% include ../global-components/modal/call-us.ejs %>
<% include ../global-components/modal/email-us.ejs %>
