<div class="container standard-padding-full">
  Headers:
  <h1>Header 1</h1>
  <h2>Header 2</h2>
  <h3>Header 3</h3>
  <h4>Header 4</h4>
  <h5>Header 5</h5>
  <h6>Header 6</h6>
</div>

<div class="container standard-padding-full">
  Paragraph Text:
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
    when an unknown printer took a galley of type and scrambled it to make a type
    specimen book. It has survived not only five centuries
  </p>
</div>

<div class="container standard-padding-full">
  Links: <br/>
  <a href="#">Plain Link</a>
  <p>
  <a href="#">Link in Paragraph</a>
  </p>
</div>

<div class="container standard-padding-full">
  <h5 class="red">Global Ecomm Pattern Library</h5>
  <h2 class="no-margin">The building blocks for your pages</h2>
  <p>We love our patterns and there are guidelines to using them so they can be as consistent and maintainable as possible. So here are the Dos and Don'ts of using our patterns</p>
  <p>For more information on how exactly to use our guidelines please see <a href="/derek/patterns/patterns">Pattern Usage</a></p>
</div>

<!-- Lead -->
<div class="container">
  <h4>Lead</h4>
  <p>Limit to one paragraph</p>
  <div class="row">
    <div class="col-xs-12">
      <%- partial('../pattern-components/leads/lead/lead.ejs') %>
    </div>
  </div>
</div>

<!-- o365 tables -->
<div class="container">
  <h4>o365 Tables</h4>
  <%- partial('../pattern-components/o365-table/o365-tables.ejs') %>
  <script type="text/javascript">
  $('.rsPricingTable').o365Table({
    labelFirstCol: true,
    inTabs: true,
  });
  </script>
</div>

<%- partial('../pattern-components/leads/lead-corner-pocket/lead-corner-pocket.ejs') %>


<%- partial('../pattern-components/key-offers/key-offers.ejs') %>
<%- partial('../pattern-components/value-props/value-props.ejs') %>
<%- partial('../pattern-components/ias/ias.ejs') %>

<!-- Video -->
<div class="container">
  <h4>Video</h4>
  <div class="videoEmbed-row">
    <div class="videoEmbed-column">
      <%- partial('../_partials/solutions/video.ejs') %>
    </div>
  </div>
</div>

<%- partial('../pattern-components/quotes/quote-full-width.ejs') %>
<%- partial('../pattern-components/ctas/cta.ejs') %>
<%- partial('../pattern-components/quotes/quote-split.ejs') %>
<%- partial('../pattern-components/awards/awards.ejs') %>
<%- partial('../pattern-components/product-features/product-features.ejs') %>
<%- partial('../pattern-components/service-level-teaser/service-level-teaser.ejs') %>
<%- partial('../pattern-components/dedicated-configurator/dedicated-configurator.ejs') %>
<%- partial('../pattern-components/lists/lists.ejs') %>
<%- partial('../pattern-components/announcements/announcements.ejs') %>
<%- partial('../pattern-components/blog-feed/blog-feed.ejs') %>
<%- partial('../pattern-components/tabs/tabs-horizontal.ejs') %>
<%- partial('../pattern-components/tabs/tabs-vertical.ejs') %>

<!-- External Link -->
<div class="container">
  <h4>Tables</h4>
  <div class="row">
    <div class="col-xs-12">
      <%- partial('../global-theme/tables/_partials/aviator-table.ejs') %>
    </div>
  </div>
</div>

<!-- External Link -->
<div class="container">
  <h4>External Link</h4>
  <div class="row">
    <div class="col-xs-12">
      <%- partial('../_partials/solutions/ext-link.ejs') %>
    </div>
  </div>
</div>

<!-- Text -->
<div class="container">
  <h4>Text</h4>
  <div class="row">
    <div class="col-xs-12">
      <%- partial('../pattern-components/text/text.ejs') %>
    </div>
  </div>
</div>
