<!-- Additional Resources -->
<div class="container-fluid catfish">
  <div class="container additional-resources-container">
    <div class="row">
      <div class="col-md-12">
        <h2>Resources</h2>
      </div>
    </div>
    <%- partial('./additional-resources-2-col.ejs') %>
    <%- partial('./additional-resources-3-col.ejs') %>
    <%- partial('./additional-resources-4-col.ejs') %>
    <%- partial('./additional-resources-5-col.ejs') %>
    <%- partial('./additional-resources-6-col.ejs') %>
  </div>
</div>
