<!-- Additional Resources -->
<div class="container-fluid catfish">
  <div class="container additional-resources-container">
    <div class="row">
      <div class="col-md-12">
        <h2>Resources</h2>
      </div>
    </div>

    <!-- 2 column layout -->
    <div class="row">
      <div class="col-md-12">
        <h3>Two Column</h3>
      </div>
    </div>
    <div class="row row-eq-height">
      <div class="col-md-6 additional-resource">
        <%- partial("../grid/widget/additional-resource", {type: "pdf"}) %>
      </div>
      <div class="col-md-6 additional-resource">
        <%- partial("../grid/widget/additional-resource", {type: "support"}) %>
      </div>
    </div>

    <!-- 3 column -->
    <div class="row">
      <div class="col-md-12">
        <h3>Three Column</h3>
      </div>
    </div>
    <div class="row row-eq-height">
      <div class="col-sm-6 additional-resource">
        <%- partial("../grid/widget/additional-resource", {type: "video"}) %>
      </div>
      <div class="col-sm-6 additional-resource">
        <%- partial("../grid/widget/additional-resource", {type: "rss"}) %>
      </div>
    </div>
    <div class="row row-eq-height">
      <div class="col-sm-6 col-md-push-3 additional-resource">
        <%- partial("../grid/widget/additional-resource", {type: "news"}) %>
      </div>
    </div>

    <!-- 4 column layout -->
    <div class="row">
      <div class="col-md-12">
        <h3>Four Column</h3>
      </div>
    </div>
    <div class="row row-eq-height">
      <div class="col-md-6 additional-resource">
        <%- partial("../grid/widget/additional-resource", {type: "pdf"}) %>
      </div>
      <div class="col-md-6 additional-resource">
        <%- partial("../grid/widget/additional-resource", {type: "support"}) %>
      </div>
    </div>
    <div class="row row-eq-height">
      <div class="col-md-6 additional-resource">
        <%- partial("../grid/widget/additional-resource", {type: "pdf", desc: "This is an example."}) %>
      </div>
      <div class="col-md-6 additional-resource">
        <%- partial("../grid/widget/additional-resource", {type: "support"}) %>
      </div>
    </div>

    <!-- 5 column layout -->
    <div class="row">
      <div class="col-md-12">
        <h3>Five Column</h3>
      </div>
    </div>
    <div class="row row-eq-height">
      <div class="col-sm-6 additional-resource">
        <%- partial("../grid/widget/additional-resource", {type: "news"}) %>
      </div>
      <div class="col-sm-6 additional-resource">
        <%- partial("../grid/widget/additional-resource", {type: "news"}) %>
      </div>
    </div>
    <div class="row row-eq-height">
      <div class="col-sm-6 additional-resource">
        <%- partial("../grid/widget/additional-resource", {type: "news"}) %>
      </div>
      <div class="col-sm-6 additional-resource">
        <%- partial("../grid/widget/additional-resource", {type: "news"}) %>
      </div>
    </div>
    <div class="row row-eq-height">
      <div class="col-md-6 col-md-push-3 additional-resource">
        <%- partial("../grid/widget/additional-resource", {type: "pdf"}) %>
      </div>
    </div>


    <!-- 6 column layout -->
    <div class="row">
      <div class="col-md-12">
        <h3>Six Column</h3>
      </div>
    </div>
    <div class="row row-eq-height">
      <div class="col-sm-6 additional-resource">
        <%- partial("../grid/widget/additional-resource", {type: "video"}) %>
      </div>
      <div class="col-sm-6 additional-resource">
        <%- partial("../grid/widget/additional-resource", {type: "rss", desc: "This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource."}) %>
      </div>
    </div>
    <div class="row row-eq-height">
      <div class="col-sm-6 additional-resource">
        <%- partial("../grid/widget/additional-resource", {type: "case-study"}) %>
      </div>
      <div class="col-sm-6 additional-resource">
        <%- partial("../grid/widget/additional-resource", {type: "github"}) %>
      </div>
    </div>
    <div class="row row-eq-height">
      <div class="col-sm-6 additional-resource">
        <%- partial("../grid/widget/additional-resource", {type: "api"}) %>
      </div>
      <div class="col-sm-6 additional-resource">
        <%- partial("../grid/widget/additional-resource", {type: "rss"}) %>
      </div>
    </div>
  </div>
</div>

