<!-- Business Resources -->
<div class="container-fluid bg-light-gray standard-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="center">Example of the resources grid content type.</h2>
      </div>
    </div>
    <h3>Two-up</h3>
    <div class="row row-eq-height">
      <div class="col-md-6 resource">
        <%- partial("../grid/widget/business-resource", {desc: "This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource."}) %>
      </div>
      <div class="col-md-6 resource">
        <%- partial("../grid/widget/business-resource") %>
      </div>
    </div>
    <h3>Three-up</h3>
    <div class="row row-eq-height">
      <div class="col-md-4 resource">
        <%- partial("../grid/widget/business-resource", {desc: "This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource."}) %>
      </div>
      <div class="col-md-4 resource">
        <%- partial("../grid/widget/business-resource") %>
      </div>
      <div class="col-md-4 resource">
        <%- partial("../grid/widget/business-resource") %>
      </div>
    </div>
    <h3>Four-up</h3>
    <div class="row row-eq-height">
      <div class="col-md-6 resource">
        <%- partial("../grid/widget/business-resource", {desc: "This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource."}) %>
      </div>
      <div class="col-md-6 resource">
        <%- partial("../grid/widget/business-resource") %>
      </div>
    </div>
    <div class="row row-eq-height">
      <div class="col-md-6 resource">
        <%- partial("../grid/widget/business-resource", {desc: "This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource."}) %>
      </div>
      <div class="col-md-6 resource">
        <%- partial("../grid/widget/business-resource") %>
      </div>
    </div>
  </div>
</div>

