<div class="container-fluid standard-padding bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-8 center-block">
        <h2 class="center teal">Features title</h2>
      </div>
    </div>
    <!-- Two Columns -->
    <div class="row">
      <div class="col-md-12">
        <h2 class="center">Two Columns</h2>
      </div>
    </div>
    <div class="row row-eq-height half-padding-top">
      <div class="col-md-6 features">
        <%- partial("../grid/widget/product-feature", {desc: "This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource."}) %>
      </div>
      <div class="col-md-6 features">
        <%- partial("../grid/widget/product-feature") %>
      </div>
    </div>

    <!-- Three Columns -->
    <div class="row">
      <div class="col-md-12">
        <h2 class="center">Three Columns</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 features three-up half-padding-top">
        <%- partial("../grid/widget/product-feature") %>
      </div>
      <div class="col-md-12 features three-up half-padding-top">
        <%- partial("../grid/widget/product-feature") %>
      </div>
      <div class="col-md-12 features three-up half-padding-top">
        <%- partial("../grid/widget/product-feature") %>
      </div>
    </div>

    <!-- Four Columns -->
    <div class="row">
      <div class="col-md-12">
        <h2 class="center">Four Columns</h2>
      </div>
    </div>
    <div class="row row-eq-height half-padding-top">
      <div class="col-md-6 features">
        <%- partial("../grid/widget/product-feature") %>
      </div>
      <div class="col-md-6 features">
        <%- partial("../grid/widget/product-feature") %>
      </div>
    </div>
    <div class="row row-eq-height half-padding-top">
      <div class="col-md-6 features">
        <%- partial("../grid/widget/product-feature") %>
      </div>
      <div class="col-md-6 features">
        <%- partial("../grid/widget/product-feature") %>
      </div>
    </div>

    <!--Five Columns -->
    <div class="row">
      <div class="col-md-12">
        <h2 class="center">Five Columns</h2>
      </div>
    </div>
    <div class="row row-eq-height half-padding-top">
      <div class="col-md-6 features">
        <%- partial("../grid/widget/product-feature") %>
      </div>
      <div class="col-md-6 features">
        <%- partial("../grid/widget/product-feature") %>
      </div>
    </div>
    <div class="row row-eq-height half-padding-top">
      <div class="col-md-6 features">
        <%- partial("../grid/widget/product-feature") %>
      </div>
      <div class="col-md-6 features">
        <%- partial("../grid/widget/product-feature") %>
      </div>
    </div>
    <div class="row row-eq-height half-padding-top">
      <div class="col-md-6 center-block features">
        <%- partial("../grid/widget/product-feature") %>
      </div>
    </div>

    <!-- Six Columns -->
    <div class="row">
      <div class="col-md-12">
        <h2 class="center">Six Columns</h2>
      </div>
    </div>
    <div class="row row-eq-height half-padding-top">
      <div class="col-md-6 features">
        <%- partial("../grid/widget/product-feature") %>
      </div>
      <div class="col-md-6 features">
        <%- partial("../grid/widget/product-feature") %>
      </div>
    </div>
    <div class="row row-eq-height half-padding-top">
      <div class="col-md-6 features">
        <%- partial("../grid/widget/product-feature") %>
      </div>
      <div class="col-md-6 features">
        <%- partial("../grid/widget/product-feature") %>
      </div>
    </div>
    <div class="row row-eq-height half-padding-top">
      <div class="col-md-6 features">
        <%- partial("../grid/widget/product-feature") %>
      </div>
      <div class="col-md-6 features">
        <%- partial("../grid/widget/product-feature") %>
      </div>
    </div>
  </div>
</div>


