<div class="standard-padding bg-light-gray">
  <div class="container">
    <div class="row">
      <h4>Features</h2>
    </div>

    <div class="row row-eq-height half-padding-top">
      <div class="col-md-6 features-container">
        <%- partial("../grid/widget/product-feature") %>
      </div>
      <div class="col-md-6 features-container">
        <%- partial("../grid/widget/product-feature") %>
      </div>
    </div>
    <div class="row row-eq-height half-padding-top">
      <div class="col-md-6 features-container">
        <%- partial("../grid/widget/product-feature") %>
      </div>
      <div class="col-md-6 features-container">
        <%- partial("../grid/widget/product-feature") %>
      </div>
    </div>
    <div class="row row-eq-height half-padding-top">
      <div class="col-md-6 features-container">
        <%- partial("../grid/widget/product-feature") %>
      </div>
      <div class="col-md-6 features-container">
        <%- partial("../grid/widget/product-feature") %>
      </div>
    </div>
  </div>
</div>


