<!-- Key Offers -->
<div class="bg-light-gray">
  <div class="container standard-padding">
    <h4>Key Offers</h4>
    <div class="row">
      <div class="col-md-12">
        <h2 class="center">This a offers headline with a max of 50 characters</h2>
      </div>
    </div>

    <h2 class="center">3 Columns</h2>
    <div class="row row-eq-height">
      <div class="keyoffers-col-third">
        <%- partial("../grid/widget/key-offer", {desc: "150 max character count here. Pro gravida dolor sit amet lacus accumsan at viverra justo commodo. 150 max character count here. Pro gravida dolor sit amet lacus accumsan at viverra justo commodo. 150 max character count here. Pro gravida dolor sit amet lacus accumsan at viverra justo commodo. 150 max character count here. Pro gravida dolor sit amet lacus accumsan at viverra justo commodo."}) %>
      </div>
      <div class="keyoffers-col-third">
        <%- partial("../grid/widget/key-offer") %>
      </div>
      <div class="keyoffers-col-third">
        <%- partial("../grid/widget/key-offer-no-hover") %>
      </div>
    </div>

    <h2 class="center">2 Columns</h2>
    <div class="row row-eq-height">
      <div class="keyoffers-col-half">
        <%- partial("../grid/widget/key-offer", {desc: "150 max character count here. Pro gravida dolor sit amet lacus accumsan at viverra justo commodo. 150 max character count here. Pro gravida dolor sit amet lacus accumsan at viverra justo commodo. 150 max character count here. Pro gravida dolor sit amet lacus accumsan at viverra justo commodo. 150 max character count here. Pro gravida dolor sit amet lacus accumsan at viverra justo commodo."}) %>
      </div>
      <div class="keyoffers-col-half">
        <%- partial("../grid/widget/key-offer-no-hover") %>
      </div>
    </div>
  </div>
</div>
