<div class="container standard-padding list-grid">
    <div class="row">
      <div class="col-md-12">
        <h2 class="center">List Style Type</h2>
      </div>
    </div>
    <div class="row half-padding-top">
      <div class="col-md-8 center-block">
        <h2 class="center">Additional Features</h2>
        <p class="center">Example text about product feature number one in a list of four available product features.</p>
      </div>
    </div>
    <div class="row half-padding-top">
      <div class="col-md-4">
        <%- partial("../grid/widget/list") %>
      </div>
      <div class="col-md-4">
        <%- partial("../grid/widget/list", {list_classes: "checks green"}) %>
      </div>
      <div class="col-md-4">
        <%- partial("../grid/widget/list", {items: ["Live, US-based support team", "Remotely log in and troubleshoot Virtual Machines, OS and Apps", "Dedicated account team", "15-Minute Response Time SLA to monitoring notifications", "Live, US-based support team", "Live, US-based support team"]}) %>
      </div>
    </div>
    <div class="row half-padding-top">
      <div class="col-md-4">
        <%- partial("../grid/widget/list") %>
      </div>
      <div class="col-md-4">
        <%- partial("../grid/widget/list") %>
      </div>
      <div class="col-md-4">
        <%- partial("../grid/widget/list") %>
      </div>
    </div>
</div>
