<!-- Infrastructure and Services section (repeated infserve pattern) -->
<!-- 6 column -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="center">6 columns</h2>
    </div>
  </div>
  <div class="row row-eq-height">
    <div class="col-sm-4">
      <%- partial("../grid/widget/ias", {desc: "This description cannot be longer than 75 characters including all spaces. This description cannot be longer than 75 characters including all spaces."}) %>
    </div>
    <div class="col-sm-4">
      <%- partial("../grid/widget/ias") %>
    </div>
    <div class="col-sm-4">
      <%- partial("../grid/widget/ias") %>
    </div>
  </div>
  <div class="row row-eq-height">
    <div class="col-sm-4">
      <%- partial("../grid/widget/ias") %>
    </div>
    <div class="col-sm-4">
      <%- partial("../grid/widget/ias") %>
    </div>
    <div class="col-sm-4">
      <%- partial("../grid/widget/ias") %>
    </div>
  </div>
</div>
