<!-- Infrastructure and Services section (repeated infserve pattern) -->
<!-- 5 column -->
<div class="ias-container">
  <h2 class="ias-title">5 columns</h2>
  <div class="ias-row">
    <div class="ias-col5">
      <%- partial("../grid/widget/ias") %>
    </div>
    <div class="ias-col5">
      <%- partial("../grid/widget/ias-no-hover") %>
    </div>
    <div class="ias-col5">
      <%- partial("../grid/widget/ias-no-hover") %>
    </div>
  </div>
  <div class="ias-row">
    <div class="ias-col5 ias-col5-push">
      <%- partial("../grid/widget/ias") %>
    </div>
    <div class="ias-col5 ias-col5-push">
      <%- partial("../grid/widget/ias") %>
    </div>
  </div>
</div>
