<%
var iasThirdColumn, iasContainer;

if (isSubpanel) {
  iasContainer = 'container-fluid half-padding';
  iasThirdColumn = 'ias-col-full';
}
else {
  iasContainer = 'ias-container';
  iasThirdColumn = 'ias-col-third';
}
%>

<!-- Infrastructure and Services section (repeated infserve pattern) -->
<!-- 3 column -->

<div class="<%- iasContainer %>">
  <div class="zoolanderTooltip" data-toggle="tooltip" data-placement="right" data-html="true" title="Infrastructure and Services"></div>

  <div class="ias-row">
    <div class="<%- iasThirdColumn %>">
      <%- partial("../grid/widget/ias", {desc: "This description cannot be longer than 75 characters including all spaces. This description cannot be longer than 75 characters including all spaces."}) %>
    </div>
    <div class="<%- iasThirdColumn %>">
      <%- partial("../grid/widget/ias") %>
    </div>
    <div class="<%- iasThirdColumn %>">
      <%- partial("../grid/widget/ias-no-hover") %>
    </div>
  </div>
</div>
