<!-- Infrastructure and Services section (repeated infserve pattern) -->
<!-- 5 column -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="center">5 columns</h2>
    </div>
  </div>
  <div class="row row-eq-height">
    <div class="col-md-4 col-sm-6">
      <%- partial("../grid/widget/ias") %>
    </div>
    <div class="col-md-4 col-sm-6">
      <%- partial("../grid/widget/ias") %>
    </div>
    <div class="col-md-4 col-sm-6">
      <%- partial("../grid/widget/ias") %>
    </div>
  </div>
  <div class="row row-eq-height">
    <div class="col-md-4 col-sm-6 col-md-push-2">
      <%- partial("../grid/widget/ias") %>
    </div>
    <div class="col-md-4 col-sm-6 col-md-push-2">
      <%- partial("../grid/widget/ias") %>
    </div>
  </div>
</div>
