<div class="rsTabs-container rsTabsVertical-container">
  <ul class="nav nav-tabs rsTabs rsTabsVertical">
    <li class="rsTab-tab rsTabVertical-tab active"><a class="rsTab-link rsTabVertical-link" href="#vertical-tab1" data-toggle="tab">Tab</a></li>
    <li class="rsTab-tab rsTabVertical-tab"><a class="rsTab-link rsTabVertical-link" href="#vertical-tab2" data-toggle="tab">Tab 2</a></li>
    <li class="rsTab-tab rsTabVertical-tab"><a class="rsTab-link rsTabVertical-link" href="#vertical-tab3" data-toggle="tab">This is a longer label</a></li>
    <li class="rsTab-tab rsTabVertical-tab"><a class="rsTab-link rsTabVertical-link" href="#vertical-tab4" data-toggle="tab">Tab 4</a></li>
    <li class="rsTab-tab rsTabVertical-tab"><a class="rsTab-link rsTabVertical-link" href="#vertical-tab5" data-toggle="tab">Tab 5</a></li>
    <li class="rsTab-tab rsTabVertical-tab"><a class="rsTab-link rsTabVertical-link" href="#vertical-tab6" data-toggle="tab">Tab 6</a></li>
    <li class="rsTab-tab rsTabVertical-tab"><a class="rsTab-link rsTabVertical-link" href="#vertical-tab7" data-toggle="tab">Tab 7</a></li>
    <li class="rsTab-tab rsTabVertical-tab"><a class="rsTab-link rsTabVertical-link" href="#vertical-tab8" data-toggle="tab">Tab 8</a></li>
    <li class="rsTab-tab rsTabVertical-tab"><a class="rsTab-link rsTabVertical-link" href="#vertical-tab9" data-toggle="tab">Tab 9</a></li>
    <li class="rsTab-tab rsTabVertical-tab"><a class="rsTab-link rsTabVertical-link" href="#vertical-tab10" data-toggle="tab">This is a much longer label</a></li>
    <li class="rsTab-tab rsTabVertical-tab"><a class="rsTab-link rsTabVertical-link" href="#vertical-tab11" data-toggle="tab">Tab 11</a></li>
    <li class="rsTab-tab rsTabVertical-tab"><a class="rsTab-link rsTabVertical-link" href="#vertical-tab12" data-toggle="tab">Tab 12</a></li>
    <li class="rsTab-tab rsTabVertical-tab"><a class="rsTab-link rsTabVertical-link" href="#vertical-tab13" data-toggle="tab">Tab 13</a></li>
    <li class="rsTab-tab rsTabVertical-tab"><a class="rsTab-link rsTabVertical-link" href="#vertical-tab14" data-toggle="tab">This is an even longer label that shouldn't be this long bug definitely is because I wanted to test extreme behaviors.</a></li>
    <li class="rsTab-tab rsTabVertical-tab"><a class="rsTab-link rsTabVertical-link" href="#vertical-tab15" data-toggle="tab">Tab 15</a></li>
    <li class="rsTab-tab rsTabVertical-tab"><a class="rsTab-link rsTabVertical-link" href="#vertical-tab16" data-toggle="tab">Tab 16</a></li>
  </ul>
  <div id="myTabContent" class="tab-content rsTabs-content rsTabsVertical-content">
      <div class="tab-pane active" id="vertical-tab1">
        <%- partial('portfolio.ejs', {title: 'Tab 1', rowCt: 1}) %>
      </div>
      <div class="tab-pane" id="vertical-tab2">
        <%- partial('portfolio.ejs', {title: 'Tab 2', rowCt: 2}) %>
      </div>
      <div class="tab-pane" id="vertical-tab3">
        <%- partial('portfolio.ejs', {title: 'Tab 3', rowCt: 1}) %>
      </div>
      <div class="tab-pane" id="vertical-tab4">
        <%- partial('portfolio.ejs', {title: 'Tab 4', rowCt: 2}) %>
      </div>
      <div class="tab-pane" id="vertical-tab5">
        <%- partial('portfolio.ejs', {title: 'Tab 5', rowCt: 1}) %>
      </div>
      <div class="tab-pane" id="vertical-tab6">
        <%- partial('portfolio.ejs', {title: 'Tab 6', rowCt: 2}) %>
      </div>
      <div class="tab-pane" id="vertical-tab7">
        <%- partial('portfolio.ejs', {title: 'Tab 7', rowCt: 1}) %>
      </div>
      <div class="tab-pane" id="vertical-tab8">
        <%- partial('portfolio.ejs', {title: 'Tab 8', rowCt: 2}) %>
      </div>
      <div class="tab-pane" id="vertical-tab9">
        <%- partial('portfolio.ejs', {title: 'Tab 9', rowCt: 1}) %>
      </div>
      <div class="tab-pane" id="vertical-tab10">
        <%- partial('portfolio.ejs', {title: 'Tab 10', rowCt: 2}) %>
      </div>
      <div class="tab-pane" id="vertical-tab11">
        <%- partial('portfolio.ejs', {title: 'Tab 11', rowCt: 1}) %>
      </div>
      <div class="tab-pane" id="vertical-tab12">
        <%- partial('portfolio.ejs', {title: 'Tab 12', rowCt: 2}) %>
      </div>
      <div class="tab-pane" id="vertical-tab13">
        <%- partial('portfolio.ejs', {title: 'Tab 13', rowCt: 1}) %>
      </div>
      <div class="tab-pane" id="vertical-tab14">
        <%- partial('portfolio.ejs', {title: 'Tab 13', rowCt: 2}) %>
      </div>
      <div class="tab-pane" id="vertical-tab15">
        <%- partial('portfolio.ejs', {title: 'Tab 15', rowCt: 1}) %>
      </div>
      <div class="tab-pane" id="vertical-tab16">
        <%- partial('portfolio.ejs', {title: 'Tab 16', rowCt: 2}) %>
      </div>
  </div>
</div>
