<!-- Value Prop section-->
<div class="container half-padding">
  <h4>Value Props</h4>
  <div class="row row-eq-height">
    <!-- Options for value prop with img -->
    <div class="col-md-4 col-sm-6">
      <%- partial("../grid/widget/value-prop") %>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="value-prop">
        <div class="col-md-5 col-sm-6 col-xs-5 center-block centered">
          <i class="rsweb idio-brain"></i>
        </div>
        <h3 class="center">This a value headline with a max of 50 characters</h3>
        <p class="center">This is a description. Bacon ipsum dolor amet hamburger jowl shank filet mignon bresaola biltong beef prosciutto drumstick. Prosciutto porchetta filet mignon brisket biltong, venison pork kielbasa. Prosciutto porchetta filet mignon brisket biltong, venison pork kielbasa. Prosciutto porchetta filet mignon brisket biltong, venison pork kielbasa. Prosciutto porchetta filet mignon brisket biltong, venison pork kielbasa.</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <%- partial("../grid/widget/value-prop") %>
    </div>
  </div>
  <div class="row row-eq-height">
    <!-- Options for value prop with img -->
    <div class="col-md-4 col-sm-6">
      <%- partial("../grid/widget/value-prop") %>
    </div>
    <div class="col-md-4 col-sm-6">
      <%- partial("../grid/widget/value-prop") %>
    </div>
    <div class="col-md-4 col-sm-6">
      <%- partial("../grid/widget/value-prop") %>
    </div>
  </div>
</div>
