<%
var container = (isSubpanel) ? 'container-fluid' : 'valueProps';
var valuePropsRow = (isSubpanel) ? 'valueProps-row' : 'valueProps-row row-eq-height';
%>
<!-- Value Prop section-->
<div class="<%- container %>">
  <div class="zoolanderTooltip" data-toggle="tooltip" data-placement="right" data-html="true" title="Value Props"></div>

  <div class="<%- valuePropsRow %>">
    <!-- Options for value prop with img -->
    <div class="valueProps-column">
      <%- partial("../grid/widget/value-prop") %>
    </div>
    <div class="valueProps-column">
      <%- partial("../grid/widget/value-prop") %>
    </div>
    <div class="valueProps-column">
      <%- partial("../grid/widget/value-prop") %>
    </div>
  </div>
</div>
