<!-- Value Prop section-->
<div class="container">
  <div class="row row-eq-height">
    <!-- Options for value prop with img -->
    <div class="col-md-4 col-sm-6">
      <%- partial("../_partials/grid/widget/value-prop", {desc: "250 max character count here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. 250 max character count here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo."}) %>
    </div>
    <div class="col-md-4 col-sm-6">
      <%- partial("../_partials/grid/widget/value-prop") %>
    </div>
    <div class="col-md-4 col-sm-6">
      <%- partial("../_partials/grid/widget/value-prop") %>
    </div>
  </div>
  <div class="row row-eq-height">
    <div class="col-md-4 col-sm-6">
      <%- partial("../_partials/grid/widget/value-prop") %>
    </div>
    <div class="col-md-4 col-sm-6">
      <%- partial("../_partials/grid/widget/value-prop") %>
    </div>
    <div class="col-md-4 col-sm-6">
      <%- partial("../_partials/grid/widget/value-prop") %>
    </div>
  </div>
</div>
