<div class="rsHomepage-platformWrapper">
  <%- partial('_partials/platform.ejs') %>
  <%- partial('_partials/platform.ejs', {
        'title': 'Amazon Web Services',
        'desc':  '1,100+ AWS professionals worldwide supporting all 10 AWS global regions'
    }) %>
  <%- partial('_partials/platform.ejs', {
        'header': 'Google Cloud Platform',
        'desc':   '1,100+ AWS professionals worldwide supporting all 10 AWS global regions'
    }) %>
</div>
<div class="rsHomepage-platformWrapper">
  <%- partial('_partials/platform.ejs', {
        'title': 'OpenStack Cloud',
        'desc':  'Co-founded with NASA; the most operating experience in the world by 100-times'
    }) %>
  <%- partial('_partials/platform.ejs', {
        'title': 'Microsoft Cloud',
        'desc':  'Microsoft Hosting Partner of the Year – 5 times more than anyone else'
    }) %>
  <%- partial('_partials/platform.ejs', {
        'title': 'VMware',
        'desc':  'Microsoft Hosting Partner of the Year – 5 times more than anyone else'
    }) %>
</div>
